[2012-04-06 18:37] cboettig opened #1 "Allow for changes-only updates to cache"

[2012-05-25 23:49] cboettig opened #2 "Get references"
Get full reference information from the specified field or query.

This information is in the XML of each post -- a parsing function needs to extract all this data and index it by fishbase number, then another function needs to match the ref id numbers I currently extract with getRef with the full reference information.

[2012-08-10 22:31] cboettig opened #3 "Allow queries / cache updates to select server"
1. At least default to us based server.
2. Ideally should select a new server if a given one is unreachable.

[2013-01-22 23:24] cboettig opened #4 "include the length-weight information"
Do you have any plans to include the length-weight information into the package?  This would be really handy!

[2013-02-05 07:02] skeith1983 opened #5 "List categories that are included within "trophic""
My aim is to obtain data on species richness and biomass for herbivorous fishes at a global extent. The first step is to determine which fish within the database are herbivores.  To do this I am using the which_fish function, e.g.,

data(fishbase)
herb <-  which_fish("herbivore","trophic")

I am sure I am missing species because they are categorized as something other than "herbivore". So I was tr

[2013-02-05 22:55] #5 closed, assigned to nobody

[2013-02-13 22:34] cboettig opened #6 "UpdateCache() not working"
[code]

Issue filed by Alban Sagouis.

[2013-02-13 22:34] #6 closed, assigned to nobody

[2013-03-02 23:26] cboettig opened #7 "pull/update cache in single CURL call"
http://fishbase.us/maintenance/FB/showXML.php

[2013-03-02 23:28] cboettig opened #8 "help FishBASE team implement complete RESTful API"
Working with Nicholas, Deng and Roy on this.  Should provide far greater functionality than the current XML parsing version.

[2013-03-12 22:34] cboettig opened #9 "Methods should all use latest cache, with a warning"
Currently methods use the provided cache unless specifically handed the path to a new cache, even after the `updateCache()` function has been run.  Ideally, the code should automatically search for new caches, and use them if available (with warning and override options), while never overwriting the original Cache.

Waiting on this as the entire cache structure might change once we have a real API

[2013-06-16 02:23] cboettig opened #10 "minor bug in selecting server"
First, great work.

I'm using your work to do something similar for PHP - the current idea is just to use it internally in the effort of "automatically fill in data fields" for the websites I work for (as volunteer developer) with Julian Dignall, Jools, (owner + developer), www.planetcatfish.com and www.aquaticrepublic.com - these sites contain data for aquarium hobbyists (and also used as a refer

[2013-06-16 02:24] #10 closed, assigned to nobody

[2013-09-08 14:57] cboettig opened #11 "Provide image download function"
Image paths are included in the summary XML along with basic dublin core metadata.  Should be easy to extract.

[2013-09-08 15:18] cboettig opened #12 "access trophic level"
Listed on it's own page in a table, e.g. http://fishbase.org/Ecology/FishEcologySummary.php?StockCode=1180&GenusName=Sparus&SpeciesName=aurata

and on the html summary pages, e.g. http://www.fishbase.org/Summary/speciesSummary.php?ID=347&AT=nile+perch

this information is sadly not available in the summary XML...
http://www.fishbase.us/maintenance/FB/showXML.php?identifier=FB-347&ProviderDbase=03

[2013-09-09 19:55] #12 closed, assigned to nobody

[2013-09-09 20:28] #4 closed, assigned to nobody

[2013-09-09 20:34] #3 closed, assigned to nobody

[2013-09-09 20:35] #1 closed, assigned to nobody

[2013-09-10 01:46] #11 closed, assigned to nobody

[2013-09-12 05:11] yakir12 opened #13 "Environment / Climate / Range"
This is more of a feature wish:
I was wondering and hoping if it would be easy to add Environment / Climate / Range as one of the types for the which_fish function. Alternatively, maybe a search anywhere for a keyword (not just within a category). Thanks!

[2013-09-16 20:53] #13 closed, assigned to nobody

[2013-12-04 18:20] cboettig opened #14 "Feature request: metabolism / oxygen consumption"
A function in rfishbase to download the oxygen consumption data
(under Metabolism on Fishbase)

[2013-12-06 17:41] #14 closed, assigned to nobody

[2014-01-18 00:39] domab opened #15 "can't get getLengthWeight() to work"
Hi,

I really like the rfishbase package - finding it really useful for my PhD!

When I run:

require(rfishbase)
data(fishbase)
out <- getLengthWeight(fish.data[1:2])

getLengthWeight(fish.data[1:2]) generates this error:

Error in `$<-.data.frame`(`*tmp*`, "r2", value = numeric(0)) :
  replacement has 0 rows, data has 24

Do you know what's wrong?

Thanks

[2014-01-18 16:19] #15 closed, assigned to nobody

[2014-02-20 06:34] camillanovaglio opened #16 "can't get getTrophicLevel() to work"
Hi,
I would like to extrapolate trophic levels for a subset of fish.data:

getTrophicLevel(fish.data[1:10]) # works

reef <- which_fish("reef", "habitat", fish.data)
reef_troph<-getTrophicLevel(fish.data[reef]) # does not work

Error in xpathApply(summaryPage, "//*[contains(@href, '/Ecology/FishEcologySummary.php')][1]",  :
  subscript out of bounds

What am I doing wrong?

Cheers,
Cami

[2014-03-18 18:22] tpoisot opened #19 "Parsing `getEnviroClimateRange` output"
The **Environment / Climate / Range** paragraph *seems* to have some kind of structure, which I would be  tempted to read as

[code]

But splitting on `\\.` is not a good solution, as there are some ref infos in this string, see http://www.fishbase.org/summary/14154.  I think we can either remove the reference infos (`(Ref. NNNNNN)`), or  write a clever regexp to take care of them. Then we can cha

[2014-04-05 11:17] cboettig opened #20 "Get FAO areas?"
hoping to look at species distributions per FAO fishing areas and am wondering if it's possible to run a quick query for this within rfishbase for a given list of species? It seems that there isn't a search term for the FAO areas within the function "which_fish" - but the information is on fishbase.org.

[2014-04-11 21:12] cboettig opened #21 "add travis and a basic set of unit tests"

[2014-04-11 21:14] #21 closed, assigned to nobody

[2014-05-07 16:27] sckott opened #22 "Long running example"
R check highlighted that one of the examples takes a long time. See https://travis-ci.org/ropensci/rfishbase#L675

Takes at least in that run 245 sec. Would Ripley not like this?

[2014-05-07 17:19] sckott opened #24 "Server timeouts when scraping HTML should fail gracefully"
Check runs fine for me locally, but is failing on Travis

https://travis-ci.org/ropensci/rfishbase

@cboettig I imagine you can diagnose this faster than I

[2014-06-29 19:04] xueyingyin opened #25 "Missing getTropicLevel data?"
Hi Carl,

I'm using the rfishbase package to gather a series of data for a modelling exercise. I just notice that some of the species that have Tropical Level data on the their fishbase summary pages, when queried using the getTropicalLevel() commend, display only NA. Examples are Carangoides_armatus, Lethrinus_erythracanthus.

What caused this? Is there a fix?

Many thanks! Xueying

[2014-08-05 01:37] CottonRockwood opened #26 "Have findSpecies() match subspecies"
Hi Carl-
First, thanks for your work on this package... it is VERY useful and I think it will have some far-reaching impacts on fisheries research once it gains some traction and even more so once the API is in place.
This is probably more of a request than an issue.
I have a data set that includes a few species which return no records for findSpecies().  However, these species DO have subspecies

[2014-08-05 01:41] CottonRockwood opened #27 "Access to 'Predators' table"
Another request... I'm wondering if it would be relatively simple to add access to the 'Predators' table on Fishbase?

[2014-08-06 03:11] CottonRockwood opened #28 "Error using getEnviroClimateRange()"
Hi Carl-
I'm trying to use getEnviroClimateRange() and it is giving me an error:

    Error in which(value == defs) :
      argument "code" is missing, with no default
    In addition: Warning message:
    XML content does not seem to be XML: ''

Oddly, it worked once for me and then has not since.  I'll take a look at the function to see if I can figure out what is going on but would love help if

[2014-08-24 17:36] rBatt opened #30 "Request: Common Name"
It'd be nice to grab the common name (i.e., "English name"). So for *Gadus macrocephalus*, I could get "Pacific Cod".

[2015-01-17 19:58] jhpoelen commented on #25
@xueyingyin @cboettig just tried:

[code]
and . . . a got the following message:
[code]

PS Thanks for a all the good work on rfishbase . . . a much needed machine readable method to access fishbase. I wonder why they don't openly publish a dump of their mysql database periodically . . .

[2015-01-17 22:38] xueyingyin commented on #25
Hi Jorrit I remember that error message usually shows up when there's no such data (depending on the query code) for the species being queried.

[2015-02-06 23:16] hkindsvater opened #31 "getGrowth?"
I would be thrilled to pull out k, Linf, and what type of length measure it is (TL, SL, FL).  But I will say it has been very fun exploring the length, weight,  and age data so far!

[2015-02-06 23:19] sckott commented on #31
@cboettig seems like we can easily get this sorted with the new api?

[2015-02-06 23:55] cboettig commented on #31
@hkindsvater Thanks for the suggestion! Just be clear, you're going for the kind of numbers that are reported in tables like this: http://www.fishbase.us/PopDyn/PopGrowthList.php?ID=5537&GenusName=Bolbometopon&SpeciesName=muricatum&fc=364

This will be easy in rfishbase2.0, coming very soon.  Please add any other requests you might have too and we should be able to prioritize them for the new vers

[2015-02-07 00:05] hkindsvater commented on #31
@cboettig @sckott Yes those are the numbers I would like; actually I wouldn't mind all of the information in the PopGrowth table. I will think about other requests and no, I don't think the current version sucks! I'll look forward to the next iteration.

[2015-02-07 00:25] cboettig commented on #30
@rBatt @emfuller Okay, just added this to the dev version of rfishbase2.0.

Currently the query takes a string of common names (and optionally the Language they are in) and returns the corresponding scientific name.  Common-name queries do raise the risk of multiple matches, so I'm open to ideas on how to deal with that. Even if we do return an interactive prompt to the user, it would be good to k

[2015-02-07 00:30] xueyingyin commented on #31
@cboettig <https://github.com/cboettig> thrilled that there will soon be
rfishbase 2.0! I think the basic input data for EwE modelling (Ecopath with
Ecosim) could be prioritized as a lot of people I know of tried the
rfishbase package because they needed a vast number of data from the
fishbase just for that. Just a thought. :)

On Fri, Feb 6, 2015 at 4:05 PM, hkindsvater <notifications@github.com>

[2015-02-07 00:34] cboettig commented on #31
@xueyingyin Feel free to open up another issue to point to particular fields from FishBase that you'd like to see.  In general it's easier to know what parameters you're referring to if we can see specific links; 'basic input data' is a bit vague.

[2015-02-07 00:53] BrianHayden commented on #31
@cboettig @xueyingyin Hey folks, great developments here! I do social media for the FSBI, if you open up an issue for comments etc I'll push it on our twitter feed and try to get some input from fish biologists

[2015-02-07 15:24] sckott commented on #31
@cboettig I added a `/populations` route. to follow good REST practice, changed name from PopGrowth because hard to make that plural without sounding very weird

[2015-02-07 15:48] rBatt commented on #31
@cboettig When using taxize to grab common names, I first check for the
common names that have A-Z regex chars (upper and lower). That gets rid of
a lot of non-English names. This might be a bit intense, but how does
Google Translate detect a language? Yikes, though.

On Sat, Feb 7, 2015 at 10:24 AM, Scott Chamberlain <notifications@github.com

[2015-02-07 23:31] rBatt commented on #30
Awesome, thanks!

I'll check it out soon

[2015-02-19 14:04] rBatt commented on #30
Just tried this. Thanks for the work.  Suggestion: possible to narrow output but subsetting returned fields?

So if I do `commonnames("Gadus morhua")`, I get a table with many entries in many languages. Possible to only return English? Also, if many of the English names are the same, possible to only return a unique list?

These are things I can do myself, so are only small quality of life additio

[2015-02-19 16:17] cboettig commented on #30
Hey Ryan,

You can just add the argument: `Language = "English`"`.

Yeah, the repeated common names in English reflect national differences
(e.g. Aussies vs US common names), But I haven't yet resolved the code
numbers into those regions.  (Actually I think the most recent version
does, but isn't on the test server yet).

  For now, you'd have to just call `unique` on the table column.  For now,
2

[2015-02-21 06:23] rBatt commented on #30
Yikes, I can't believe I missed that! My apologies.

[2015-02-26 03:45] fishandfish commented on #25
Hi All,

I just tried to get all the TL data and got the same error as jhpoelen above. Code is
TLfish<-getTrophicLevel(fish.data=NULL,path=NULL,as_table=FALSE,from=c("diet composition","individual food items"),unfished=FALSE,justSE=FALSE, justReference=FALSE)

Error reads: Error in xpathApply(summaryPage, "//*[contains(@href, '/Ecology/FishEcologySummary.php')][1]",  :
  subscript out of bounds

T

[2015-02-26 17:27] cboettig commented on #25
Hi All,

this issue will be resolved in rfishbase2.0, along with many other issues that all stem from the web-scraping approach applied in the original rfishbase.  We suspect you will find the new version much more powerful as well. I will follow up here when we have a release candidate available.  Thanks for your patience.

[2015-02-26 17:29] fishandfish commented on #25
Thanks so much!
K

[2015-02-26 22:09] #9 closed

[2015-02-26 22:10] #7 closed

[2015-03-02 20:22] megbalk opened #32 "familySearch Error: could not find function "familySearch""
Hey,

I installed rfishbase from github using devtools under R 3.1.2 using OSX Mavericks. When I run familySearch or habitatSearch I get the following error: Error: could not find function "familySearch". I am using the examples from the tutorial (https://github.com/ropensci/rfishbase/blob/master/inst/doc/rfishbase/rfishbase_github.md).

My install commands were:
library(devtools)
install_github("

[2015-03-02 20:36] cboettig commented on #32
@megbalk Sorry about that, the `familySearch` function was deprecated in favor of `which_fish` function (see https://github.com/ropensci/rfishbase/blob/master/NEWS#L50), so you could do:

[code]

If you prefer, the old function is still available, just hidden.  Add the rfishbase namespace with three `:`'s to access it :

[code]

Just a warning that the current `rfishbase` on CRAN (master branch on

[2015-03-02 21:05] megbalk commented on #32
@cboettig Thank you!

[2015-03-05 21:19] cboettig commented on #8
closing, see [rfishbase2.0 branch](https://github.com/ropensci/rfishbase/tree/rfishbase2.0); API at [ropensci/fishbaseapi](https://github.com/ropensci/fishbaseapi), [2.0 issues tag](https://github.com/ropensci/rfishbase/issues?q=is%3Aopen+is%3Aissue+label%3A2.0) and [2.0 alpha milestone](https://github.com/ropensci/rfishbase/milestones/rfishbase2.0%20alpha%20release)

[2015-03-05 21:19] #8 closed

[2015-03-05 21:20] #22 closed

[2015-03-05 21:53] cboettig commented on #26
The FishBase database appears to list species+subspecies as if it were all part of the species name; rather than handle subspecies directly.

rfishbase2.0 (in development) implements the synonyms table (e.g. see: http://www.fishbase.us/Nomenclature/SynonymsList.php?ID=1520&SynCode=153539&GenusName=Clupea&SpeciesName=pallasii+pallasii)

e.g.

[code]

and you'll see only `Clupea pallasii pallasii` i

[2015-03-05 22:06] cboettig commented on #20
Okay, this is implemented in rfishbase2.0 as "locations", e.g.

[code]

gives:

[code]

This doesn't yet have the "Note" column from the web, not sure if that's needed. ([eg here](http://www.fishbase.us/Country/FaoAreaList.php?ID=1520&GenusName=Clupea&SpeciesName=pallasii+pallasii&fc=43&StockCode=1713&Scientific=Clupea+pallasii+pallasii))

I'm hoping to add the more general functions for the other

[2015-03-05 22:07] #24 closed

[2015-03-05 22:08] cboettig commented on #24
wontfix as we'll defer to rfishbase2.0

[2015-03-05 23:11] wboeger commented on #20
Thanks Carl!  Great!

Walter

Sent from my iPad

[2015-03-06 00:44] cboettig commented on #25
Okay, this is now in rfishbase2.0, currently available only through the `ecology` function (so named to match the link you would use from the fishbase summary page; let me know if that's too obscure).

As the function name implies, this table has quite a bit of diverse information (129 fields), it probably makes sense to request just the desired fields.

[code]

which gives a table like this:

[co

[2015-03-06 03:07] cboettig opened #33 "Migrating from earlier versions of rfishbase"
Many of the function calls and return types in rfishbase 0.* were relatively crude, and thus it does not make much sense to mimic them. Instead, we should simply provide a guide to users to map any functionality in the original version into the 2.0 version.

Here's a complete list of functions in the current (v0.2-3) NAMESPACE, along with mappings that exist so far.  Will continue to update this a

[2015-03-06 16:28] jhpoelen commented on #25
@cboettig thanks for all the hard work!

[2015-03-06 19:00] cboettig commented on #30
Okay, i've now added a simpler function to get common names from scientific names. `sci_to_common()` works more-or-less like `common_to_sci()`

[code]

Note that if you give a language it will return the most frequently used name, which isn't necessarily the same as the preferred FishBase name in English (the default when no language is given).  And while "common_to_sci" understands more vague cla

[2015-03-06 19:00] #30 closed

[2015-03-06 19:14] cboettig commented on #19
Okay, the basic information from here can be found from the species table in rfishbase2.0; and the richer information `ecology()` table, though the latter needs a bit of cleaning up (e.g. converting responses into logicals etc).  e.g.:

[code]

(note that if you give more species then each will get a row in the table, e.g.)

[code]

open to suggestions / help tidying any of this too

[2015-03-06 19:23] cboettig commented on #31
@hkindsvater In rfishbase2.0, you can now get the popgrowth table, e.g.

[code]

or for multiple species: (almost all rfishbase2.0 functions operate on a list of species names; which can be generated by taxonomic group or common names, etc)

[code]

At the moment though I've done nothing to tidy up the returns of this table, so it's not as clean as the web version.  FishBase has about 11 tables re

[2015-03-06 19:27] cboettig commented on #28
Closing this as these connectivity issues should largely be fixed in rfishbase2.0

[2015-03-06 19:27] #28 closed

[2015-03-06 19:30] cboettig commented on #27
@CottonRockwood this is implemented in 2.0, e.g.

[code]

table is just the raw returns from the backend database still and could use some tidying; suggestions / contributions welcome.

[2015-03-06 19:30] #27 closed

[2015-03-06 19:30] #32 closed

[2015-03-06 19:35] cboettig commented on #32
@megbalk we're about ready to move rfishbase2.0 onto master Github branch & deprecate any further development on the original package (it will be a bit longer before we're ready for CRAN).

In rfishbase2.0, you can now get Family (or other taxonomic units) using the `species_list` function, e.g.

[code]

which will return a list of species names for all species in the Family (instead of returning

[2015-03-06 19:36] cboettig commented on #2
Already on the to do in rfishbase 2.0, once we add to the API, see https://github.com/ropensci/fishbaseapi/issues/2

[2015-03-06 19:36] #2 closed

[2015-03-06 20:35] #16 closed

[2015-03-06 20:36] #19 closed

[2015-03-06 20:36] #20 closed

[2015-03-06 20:36] #25 closed

[2015-03-06 20:36] #26 closed

[2015-03-06 20:36] #31 closed

[2015-03-07 21:46] fishandfish commented on #33
@cboettig ,
This is great work, keep it up.
Cheers, K

[2015-03-07 21:50] megbalk commented on #32
@cboettig Great! Looking forward to it!

[2015-03-10 13:18] rBatt opened #34 "SeaLifeBase?"
Any chance of doing something like rfishbase, but for SeaLifeBase.org? They are similar websites.

[2015-03-10 19:04] jafflerbach commented on #34
This would be so great!

[2015-03-11 02:12] fishandfish opened #35 "?morphology and column nams"
Hi @cboettig,
When I type in the following I get this error.

Warning messages:
1: In fetch(key) : internal error -3 in R_decompress1
2: In strsplit(msg, "\n") : input string 1 is invalid in this locale

Any thoughts? I want to find the Max total length and common length column names.
Thanks,
K

[2015-03-11 04:05] cboettig commented on #35
I think you're testing on an older version of rfishbase.  Can you restart R, and then re-install from github?

Unfortunately, I haven't documented all the fields (they aren't documented literally in fishbase itself, so this requires a bit of work -- input much appreciated). So at the moment you're stuck looking at the [FishBase manual](http://www.fishbase.org/manual/english/contents.htm), for exam

[2015-03-11 15:49] fishandfish commented on #35
Thanks @cboettig!
I will certainly explore this more and let you know any ideas. Is there a way to the species_info(common_to_sci("trout"), species_fields$morph), but for all species in Fishbase? Ultimately, I would like to get all fish lengths for the 30000+ species.
Cheers,K

[2015-03-11 17:34] cboettig commented on #35
Sure. `species_list()` is your go-to function to create lists of species names, e.g. you get all 31,454 species of the ray-finned fishes with `x = species_list(Class="Actinopterygii")`.  To get all 32,792 species, just use `x = species_list()` with no arguments.

Note that running `species_info()` on the complete list will be slow, since we have to query one species at a time.  If you know exactly

[2015-03-13 17:14] fishandfish commented on #35
Thanks, this worked and I was able to extract the length data for all 32792 species.
However, when I tried to extract the trophic level info

FISHLIST <- species_list()
TLFB<-ecology(FISHLIST,fields=c("SpecCode", "DietTroph", "DietSeTroph"))

it only included DietTroph and SE data for 10482 species, and it included species with NA. Shouldn't this search have yielded the same amount of species in s

[2015-03-13 17:41] cboettig commented on #35
@fishandfish Nope, note that the ecology table simply doesn't have entries
for all species.  (This is true for many species for many tables: e.g. If
you're looking at fishbase.org summary pages under "more information",
you'll see links to most common tables. If the species has no entry for the
given table, e.g. for "Ecology", it will be greyed out).

Similarly, just because a species has some ent

[2015-03-14 13:40] fishandfish commented on #35
Hi @cboettig ,
I appreciate the response. Since there are many missing data from FishBase, Do you envision rfishbase having the ability to upload some parameters to Fishbase? For instance if a scientist has csv file with trophic levels for a list of species. This might be a useful addition to rfishbase and help speed up the data acquisition process.
Cheers, K

[2015-03-14 15:24] cboettig commented on #35
Great idea, I'll look into that with the FishBase team

On Sat, Mar 14, 2015, 6:40 AM fishandfish <notifications@github.com> wrote:

[2015-03-15 01:21] fishandfish commented on #35
Thanks @cboettig,
Another thing I noticed is the "Estimates of some properties based on models" section. For instance they have a trophic level estimate "Trophic Level (Ref. 69278):  3.5   ±0.6 se; Based on size and trophs of closest relatives" that would be useful to be able to extract. The example above is for Abyssocottus elochini which does not have a DietTrophicLevel or Diet TLse estimate. Do

[2015-03-16 18:16] cboettig commented on #35
Hmm, I see that example on the summary page for the species, but it's not obvious to me how they are computing it (that is, what they have used to define "closest relatives".)  It does not appear to come from one of the other tables.

Of course you could always come up with a list of closest relatives and produce your own estimate, but  needless to say this wouldn't be appropriate for making certa

[2015-03-30 19:29] cboettig opened #36 "Summary of endpoints / tables to be implemented"
See https://github.com/ropensci/fishbaseapi/issues/2

Table list, as given under "More Information" on [a species summary page](http://www.fishbase.org/summary/2).  Doesn't quite map to the table list of the SQL, but probably more sensible for the endpoints.
- [x] Countries
- [x] FAO areas
- [x] Ecosystems
- [x] Occurrences
- [x] Introductions
- [x] Stocks
- [x] Ecology
- [x] Diet
- [x] Food items

[2015-03-31 21:57] sartonic opened #37 "Error: could not find function "validate_names""
I installed rfishbase from github using devtools under R 3.1.2 using OSX Mavericks. When I run validate_names I get the following error:

I am testing it on a single species: validate_names("Abramis brama"). Other functions I have tried like ecology("Abramis brama") are working just fine.

I'm assuming this is similar to the issue here: https://github.com/ropensci/rfishbase/issues/32
since I just

[2015-03-31 22:06] #37 closed

[2015-03-31 22:06] cboettig commented on #37
Thanks for the bug report; that function wasn't fully documented previously
so hadn't been exported to the user NAMESPACE.  I've just pushed an update
that finishes the documentation and exports it, so `validate_names` should
work without the triple colon now.

On Tue, Mar 31, 2015 at 2:57 PM sartonic <notifications@github.com> wrote:

[2015-03-31 23:40] sartonic commented on #34
agreed! is there currently anything like this (API/R package) for invert data?

[2015-04-01 01:16] sartonic opened #38 "validate_names returns array of suggestions errantly"
I am using validate_names on a list of over 1000 scientific names, which are mostly correct, but may have small spelling errors occasionally. I've included a subset of the species below.

[code]

Of these species, I can (after-the-fact) verify that A. schegeli, A. thazard, and A. rochei are misspelled. However, when I run validate_names, several interesting things happen...

[code]

The function r

[2015-04-01 01:42] cboettig commented on #38
Thanks, sounds like a bug.  Can you take a look at the tables returned by
synonyms() instead?  It will have more information about the matches and
what name FishBase considers valid.  I'll take a closer look when I get a
chance

On Tue, Mar 31, 2015, 6:16 PM sartonic <notifications@github.com> wrote:

[2015-04-01 03:52] sartonic commented on #38
Thanks! So running synonyms on that set of species looks like this:

[code]

[2015-04-01 17:35] cboettig commented on #38
@sartonic Thanks, I've just pushed a fix.  you should now see:

[code]

So the problem here is that FishBase recognizes certain names as being "misapplied", as you see in the syn table.  For instance, FishBase is telling us that `A. thazard` is sometimes misapplied to the species that it recognizes as `Auxis rochei rochei`, as well as being correctly applied to the species it recognizes as  `Auxis

[2015-04-01 18:03] sartonic commented on #38
I think that is a great fix, thank you very much!

I just tried it on my dataset, and I will just mention that the output is still an array of arrays, because when it can't find a species name in the fishbase database, it returns an empty array. This isn't an issue for me, since other functions like species_info() will just ignore those empty arrays, but just wanted to point it out in case you thi

[2015-04-01 19:27] cboettig commented on #38
Ah, good point.  For consistency's sake I've pushed a change that should
just flatten the list and drop missing entries. It will also warn when it
cannot match a species.

I don't really like chatty warning messages but it seems worse to silently
return only m<n names when given n names to validate (and there's always
supressWarnings() for the annoyed user)

feedback welcome as always, as you see

[2015-04-01 20:06] sartonic commented on #38
Yes, I think it is good to clarify whenever the output m is less than the input n. I actually have a tiny follow-up question based on that same question.

Let's say I run validate_names on a list of 864 scientific names and the output of validate_names is 667. Running the validated names through species_info() returns 667 entries, but running the validated names through ecology() for  ```fields=c(

[2015-04-01 20:14] cboettig commented on #38
Re: ecology() vs species_info(), every species FishBase knows about has an
entry in the species_info() table (it's somewhat analogous to the
summary/home-page you see for the species on the website); but not every
species has an entry in the ecology() table -- for some species fishbase
just doesn't have trophic ecology information.  On the website you'll see a
list of tables on every summary page

[2015-04-01 20:14] cboettig commented on #38
p.s. the server should be back up now ;-)

On Wed, Apr 1, 2015 at 1:13 PM Carl Boettiger <cboettig@gmail.com> wrote:

[2015-04-01 20:18] sartonic commented on #38
Oh that makes sense, thanks!

[2015-04-02 18:54] sckott opened #39 "user agent `rfishbase`"
@cboettig any interest in including the string `rfishbase` along with the others that httr uses

[code]

so it would be like

[code]

allow to differentiate requests from rfishbase vs. those form users not using rfishbase, though I imagine nearly all coming from R will come from this pkg

[2015-04-02 19:39] cboettig commented on #39
Sure, haven't set user-agent in httr before, can you send me an example?

On Thu, Apr 2, 2015, 11:54 AM Scott Chamberlain <notifications@github.com>
wrote:

[2015-04-02 19:51] sckott commented on #39
yeah, I just use a little  helper fxn to get all the user agent info httr passes, then add in the version of the package in which im sending the request, e.g., in this package im playing with:

https://github.com/sckott/httsnap/blob/master/R/get.R#L49-L55

[2015-04-02 21:11] #39 closed

[2015-04-18 04:09] cboettig opened #40 "have unit tests use a different user-agent"
this will facilitate filtering the logs from actual users vs automated tests.

[2015-04-18 14:45] #40 closed

[2015-04-20 20:15] btmarti25 opened #41 "getLengthWeight"
I am not able to get the getLengthWeight function to work, and not sure if it is a bug, or something I am doing. I have tried it out on a few species, and get similar errors:

Error in `$<-.data.frame`(`*tmp*`, "r2", value = numeric(0)) :
  replacement has 0 rows, data has 25

Error in `$<-.data.frame`(`*tmp*`, "r2", value = numeric(0)) :
  replacement has 0 rows, data has 22

Error in `$<-.data.f

[2015-04-20 21:39] cboettig commented on #41
@btmarti25 Would you mind installing the version from Github and using the new function `length_weight()` instead of the old function `getLengthWeight`?  I think you'll find the new function easier to use, a bit more robust, and providing more data.

You don't have to use the cumbersome `fish.data[1]` notation any more, `length_weight()`, and all the new functions, just take a list of species name

[2015-04-20 21:40] cboettig commented on #38
@sartonic Sounds like this is all resolved now, so I'll close this issue.  Feel free to open any new issues if there's anything you'd like to see added or changed!

[2015-04-20 21:40] #38 closed

[2015-04-21 00:14] btmarti25 commented on #41
@cboettig Thanks!

The new version is a big improvement!

[2015-04-21 00:14] #41 closed

[2015-04-21 13:17] benjamindcowburn opened #42 "Cannot download from GIT"
Hello! I am trying to down load the most recent version of Rfishbase in order to use the length_weight command. I use this code;

Which failed (see below)! Why did this happen?

Downloading github repo ropensci/rfishbase@master
Installing rfishbase
Installing dependencies for rfishbase:
dplyr, lazyeval, tidyr

  There is a binary version available (and will be installed) but the source version is

[2015-04-21 14:39] cboettig commented on #42
Looks like your version of R is several releases out of date; maybe
consider updating?

Or try installing the 'lazyeval' and 'tidyr' dependencies from CRAN, e.g.
with install.packages(), first?

On Tue, Apr 21, 2015, 6:17 AM benjamindcowburn <notifications@github.com>
wrote:

[2015-04-21 16:10] btmarti25 commented on #42
I had the same problem, and getting a new version of R fixed it.

[2015-04-21 17:13] cboettig opened #43 "implement client-side version of the Bayesian Analysis for length-weight data?"
e.g. see http://www.fishbase.us/PopDyn/BayesianAnalysis.php

[2015-05-05 11:40] fsoudijn opened #44 "Trophic info Ecology table imported differently?"
Great project! Thanks for your effort in developing this package.

When I import info from the ecology table, in my case regarding the fish diet, it seems as if some info is imported differently. Maybe this is the result of the package importing something other than the info that is displayed on the ecology summary page on the fishbase website, but I have not been able to deduce where it comes fro

[2015-05-05 11:50] fsoudijn commented on #35
There is some more info about these estimates on the food-items-table page in box 26 (http://www.fishbase.org/manual/English/fishbasethe_food_items_table.htm). When there is no food information available, the trophic level is estimated based on taxnomically related species and the relationship between body size and trophic level. The info is stored in a table called "estimates". I guess it is ques

[2015-05-05 17:56] cboettig commented on #35
Thanks.  Those docs suggest that these values are found in a new table
called "estimates", so I can look into adding an `estimates()` function to
access that information.

On Tue, May 5, 2015 at 4:50 AM fsoudijn <notifications@github.com> wrote:

[2015-05-05 18:00] cboettig commented on #44
Thanks for reporting this issue.  rfishbase is still using a somewhat older
version of the fishbase database that was provided for developing and
testing purposes.  I've written to the fishbase team to see if we can get
the updated database to provide until their team is ready to serve our API
directly.  I suspect that this is the reason for the differences, but
cannot be sure.

Note that in the f

[2015-05-07 10:02] fsoudijn commented on #44
Thanks for your response!

I am afraid the difference in speccode for the first species was a typo I made, 2514 should be 2513.

[2015-05-07 16:08] cboettig commented on #44
okay thanks. waiting to hear back from the fishbase team about the
possibility of updates to the database.

On Thu, May 7, 2015 at 3:02 AM fsoudijn <notifications@github.com> wrote:

[2015-05-07 23:51] sckott opened #45 "Reviews - to do"
reviews requested:

* @noamross
* @layamane

[2015-05-17 22:32] layamane opened #46 "Review of rfishbase"
Fishbase.org serves as a source for user-generated categorical and quantitative data on fish species, providing information on both species-specific summary pages and through linked data tables.
The rfishbase package provides an easy and intuitive way to access and collate these data, which would otherwise require the user to either manually generate their own data tables or navigate to linked pag

[2015-05-18 23:11] sckott commented on #46
Thanks so much @layamane !

@cboettig Lauren's review is in.  Looks like she has some good feedback on the interface for some functions and some wishlist items. Let her know if you have any further questions.

[2015-05-20 03:54] sckott commented on #45
see #46

[2015-05-20 15:05] noamross commented on #45
Is it in-scope to review the API itself here? I don't know the whole story but it seems that the API itself is being developed by ROpenSci to be hosted by rfishbase itself at some point, is that correct?  And that the API is primarily an interface to the FishBase SQL database?

[2015-05-20 15:39] cboettig commented on #45
We'd certainly appreciate that if you did -- the API is primarily in Ruby;
code at https://github.com/ropensci/fishbaseapi, but up to you I think.
@sckott thoughts?

On Wed, May 20, 2015 at 8:05 AM Noam Ross <notifications@github.com> wrote:

[2015-05-20 15:42] noamross commented on #45
I won't be able to review the API's code, but I'll give some feedback on
endpoints, etc.

On Wed, May 20, 2015 at 8:39 AM Carl Boettiger <notifications@github.com>
wrote:

[2015-05-20 15:42] sckott commented on #45
@noamross yes, we built the API, but of course any data problems we can't directly fix - we just get the dump from fishbase. If there's anything in the API itself (the endpoints we chose to provide, API behavior, etc.) we can address them

[2015-05-20 15:42] sckott commented on #45
@noamross okay, sounds good

[2015-05-22 20:56] jafflerbach opened #47 "Min/Max temp?"
In rfishbase 2.0, is there a function to extract the min and max temperatures per species? This info is found under **Environment / Climate / Range** section on [fishbase](http://www.fishbase.org/summary/Clupea-harengus.html) - similar to requests in issue #19. In the previous version, getEnviroClimateRange() spit it out along with range info but I'm not seeing the same functionality in either spe

[2015-05-22 23:40] cboettig commented on #47
Good question; I wish fishbase had a more obvious organization to the
database backend but unfortunately that's not the case.  Maybe there are
things we can do in the r package to help.

I think what you're looking for is under the "Comments" field from the
species table, e.g. `species(species_list, fields="Comments")`.
Unfortunately, it's in plain text there, so you (or I) would need to regex
out

[2015-05-25 19:20] cboettig commented on #34
Hi @rBatt @jafflerbach @sartonic Thanks for the suggestion -- after speaking to the FishBase.org team they were able to get approval for this and have connected us with the backend for SeaLifeBase.  Hopefully we can get a prototype out soon!

Just waiting on some community reviews of rfishbase meanwhile so we can avoid repeating any mistakes we've made so far.  Will update this thread when we have

[2015-05-26 00:37] rBatt commented on #34
Wow, that's great! Thanks for keeping us posted.

On Mon, May 25, 2015 at 3:20 PM, Carl Boettiger <notifications@github.com>
wrote:

[2015-05-26 21:01] jafflerbach commented on #34
Wonderful! This will be so helpful

[2015-05-27 02:05] sartonic commented on #34
Awesome! Looking forward to it

[2015-05-29 18:36] jafflerbach commented on #47
I do find it a bit strange that the temperature doesn't have it's own field similar to depth (but not surprised). I don't believe the information I'm looking for is in the "Comments" section...I've spot checked ~10 species and I think the "comments" field is the actual "Biology" field on the fishbase species page - correct?

With getEnviroClimateRange() in the previous version, temp was spit out a

[2015-05-29 19:08] cboettig commented on #47
Good point, the "comments" field is definitely the "biology" section.  Presumably those numbers are buried in the database somewhere, and I'll see if I can track them down.  As you see, the back end database is a bit of a mess and we're trying to come up with a better way to address this problem more generally, so that users don't have this issue of 'where the heck do I find X?'  It will take a bi

[2015-06-03 00:15] noamross opened #49 "Package onboarding review"
## General comments

Great package and project!

-  I have very little to say about the codebase itself - it's well designed, and clever in its modularity and extensibility. I have more comments about the documentation below, but I realized that several of them pertain to the fact that function documentation is somewhat cookie-cutter from function to function, as you use **roxygen2** inheritance r

[2015-06-03 01:47] sckott commented on #49
w00t! thanks @noamross

[2015-06-16 19:04] cboettig opened #51 "Map stock codes to species names by default in all tables"
As @layamane points out in her review (#46), it probably makes sense for tables to always return species names, since queries are based on species names to begin with.

[2015-06-16 19:08] cboettig opened #52 "Improve discoverability of tables"
As @layamene so effectively put it in her review (#46), most tables are effectively "hidden."  Tables should be more discoverable.

FishBase has too many tables.  We need:

- [ ] Clear, consise & searchable documentation of all endpoints / implemented tables
- [ ] an endpoint to search across tables to find which one has a particular field,
- [ ] Merge more tables in advance:
  - [ ] Tables with a

[2015-06-16 19:09] cboettig commented on #45
Reviews are in (#46 and #49), so we can close this.

[2015-06-16 19:09] #45 closed

[2015-06-23 23:32] cboettig commented on #33
Available tables are given by `heartbeat()`.  Working on API-level documentation that can return a more complete description of what is in each of these tables.

[2015-06-23 23:32] #33 closed

[2015-06-23 23:32] #42 closed

[2015-06-23 23:35] cboettig commented on #44
I've updated the API to serve a more recent version of the database (dated May 26).  Hopefully this resolves the discrepancies you noted between particularly data in rfishbase and on fishbase.org. let me know if the issue persists!

[2015-06-23 23:35] #44 closed

[2015-06-23 23:44] cboettig commented on #34
Okay, a pilot version of SeaLifeBase is now available.  For the moment, you should be able to add `server="http://fishbase.ropensci.org/sealifebase"` to most `rfishbase` commands and get queries to SeaLifeBase instead. here's some examples:

[code]

Please give this a test drive and lemme know how it goes!

[2015-06-24 00:33] rBatt commented on #34
This is great – I'll definitely test it out!

Quick question before I start testing: It searches either one database or the other, but not both, right?

[2015-06-24 02:29] cboettig commented on #34
Right, one or the other depending on if you give the server argument

On Tue, Jun 23, 2015, 5:33 PM Ryan Batt <notifications@github.com> wrote:

--

http://carlboettiger.info

[2015-06-24 10:20] fsoudijn commented on #44
Great! Thank you. I will have a look at it and let you know.

[2015-06-26 17:19] jebyrnes opened #53 "species giving odd subscript error"
I attempted to walk through the instructions in the readme and got the following error:

[code]

[2015-06-26 17:33] jebyrnes opened #54 "ecosystems() not working"
[code]

This may be on the server end, as http://fishbase.ropensci.org/ecosystems?SpecCode=2 throws an error, although http://fishbase.ropensci.org/ecology?SpecCode=2 does not

[2015-06-26 17:54] cboettig commented on #54
Yup, that's an issue with the API at the moment, see https://github.com/ropensci/fishbaseapi/issues/56

@sckott did you ever get a chance to look into that one?

[2015-06-26 17:59] sckott commented on #54
no, but can do

[2015-06-26 18:09] sckott commented on #54
we accidentally pluralized it, its just `ecosystem`

[2015-06-26 18:55] cboettig commented on #53
Thanks for the bug report, not sure why this hasn't shown up in our automated tests.

Looks like the recent update to the database changed the classes on some fields. should be fixed in the version just pushed to github.

[2015-06-26 18:55] #53 closed

[2015-06-26 20:47] jebyrnes opened #55 "occurrence broken (api?)"
Might be the same api issue as before

[code]

[2015-06-26 20:51] jebyrnes commented on #47
Amused to find this - and I second interest in it! I even have a use case (looking at shifts in mean assemblage temperature tolerance) that I'm happy to volunteer as an example!

[2015-06-26 21:59] rBatt commented on #47
@mpinsky and I would use this type of thing too.

[2015-06-26 22:49] cboettig commented on #55
@sckott thoughts?

[2015-06-26 22:55] sckott commented on #55
Back to computer in about 2/3 hrs, will do then

On Fri, Jun 26, 2015, 3:49 PM Carl Boettiger <notifications@github.com>
wrote:

[2015-06-26 23:00] jebyrnes commented on #55
Thanks, guys!

[2015-06-26 23:04] cboettig commented on #47
Thanks @jebyrnes @rBatt @jafflerbach for the feedback!  I think this highlights a more general problem that it's really hard to know what table to look in for what piece of data.  I think @sckott and I need to figure out a better way to approach that question, either on the server/API side or the rfishbase package side.

Currently, you can get a list of tables in the `heartbeat` function, and then

[2015-06-26 23:06] cboettig opened #56 "More Testing"
Hehe, more generally @jebyrnes is clearly demonstrating that I need to add tests for these (shows you how meaningless 99% test coverage can be).

@sckott Ideally we should just have some automated testing of the endpoints on fishbaseapi https://github.com/ropensci/fishbaseapi/issues/40, which would be a more general solution than just testing the R functions.

[2015-06-26 23:14] cboettig commented on #52
Okay, two different approaches here, not sure what is best.  Would welcome feedback from @sckott  @rBatt @jebyrnes @jafflerbach and others here:

### Option 1: "R way"

This is mostly what we've done so far.  Each table has a corresponding R function `species`, `ecology` etc, which has R-style documentation (so far too sparse) describing the table and its columns.  Users learn which tables exist b

[2015-06-26 23:58] cboettig commented on #51
All endpoints will return the species name (`sciname`) in addition to the requested fields (or if no field is included).  This should avoid always having to work with speccodes manually.

e.g.

[code]

[code]

[2015-06-26 23:58] #51 closed

[2015-06-27 00:07] cboettig opened #57 "locations for the StockCode values"
Should be a straight forward task with the `stock` table

[2015-06-27 00:14] cboettig commented on #47
@jebyrnes @rBatt @jafflerbach Found it!

Looks like min max temperature information is reported at the `stock` level rather than the `species` level.  This will make things a bit complicated. For example:

[code]

You'll see several hits for the same species since it has different stocks, add `StockCode` and `SpeciesCode` to the fields list to see this.  StockDefs provides a detailed but not very

[2015-06-27 00:54] rBatt commented on #47
For my purposes the min of mins and max of maxs would probably work well
for me (but like you say, depends on your use). However, I wouldn't discard
the more detailed level (i.e., still be able to use stocks()), because I
can easily imagine cases where you might want to know region-specific
values.

On Fri, Jun 26, 2015 at 8:14 PM, Carl Boettiger <notifications@github.com>
wrote:

[2015-06-27 12:11] fsoudijn commented on #44
Yes, I think that fixed it! Thanks a lot.

[2015-06-29 14:58] sckott commented on #55
sorry for the delay all.

Testing locally, and the `/occurrence` route works fine for me.  But doesn't work on the server.  Blame suggests nothing changed recently for that bit of code https://github.com/ropensci/fishbaseapi/blame/master/api.rb

Carl, perhaps the new fishbase DB has occurrence table named differently. I have the old database locally on my machine, and it works here.

[2015-06-29 14:59] sckott commented on #55
@cboettig ps can you send me the new DB when you get a chance

[2015-06-29 20:02] sckott commented on #55
okay, i can't seem to get the new DB installed locally, but grepping to get `CREATE TABLE` lines in the sql dump file shows that `occurrence` table is completely missing.

[2015-06-29 21:11] cboettig commented on #55
@jebyrnes It appears this table was not included in our more recent dump from the FishBase team.  We can try and follow up with them and maybe meanwhile look into getting the old version of said table imported into the new database.

[2015-06-29 21:13] cboettig commented on #55
meanwhile there are a few other endpoints with location/distribution information that may or may not be helpful.

I'm gonna look into what table joins we can compute server-side so that information isn't so scattered across so many different tables.  Any advice on what would be most useful in this regard would be appreciated!

[2015-07-02 21:53] jafflerbach commented on #47
Thanks @cboettig - this is definitely what I was looking for. I do value the stock level information for my work so if there is a way to keep those details while also having a more dedicated function to get the min of mins and max of max's as you suggest, I would find that very useful.

[2015-07-02 21:59] cboettig commented on #47
Great.  I'm not sure if we should indeed implement a more specific
function, since having a unique function for most columns in most tables
would quickly get unwieldy.  My temptation is actually to go the other way,
and try and compute more "table joins" on the server side, so the user has
fewer instead of more functions to navigate.  Of course this leaves it up
to the user to subset the tables fo

[2015-07-20 19:35] mlandis opened #58 "length_length() reports curl error with url$query is NULL"
First I'd like to say rfishbase v2 is a wonderful resource. Thanks for making it available during development.

A few weeks ago I was able to call length_length() to query length records following the syntax provided [here](https://github.com/ropensci/rfishbase/blob/master/R/population_dynamics.R). When I called the function this morning, I received the following error:

[code]
Any thoughts? Best,

[2015-07-20 20:54] cboettig commented on #58
Michael, thanks for the kind words.  Advice on how to make it better (either docs or interface) always welcome.

Very strange, I cannot seem to reproduce this error; it still works for me.   Can you try reinstalling from github first?  Also, can you give me the output of `sessionInfo()`?

[2015-07-20 20:58] sckott commented on #58
@mlandis I think that is related to `httr`

@cboettig  I think we should force `httr >= v1`  in  https://github.com/ropensci/rfishbase/blob/master/DESCRIPTION#L18  - which has various fixes, importantly avoiding the dreaded multi handle error, but does mean that you can't pass empty lists to the `query` parameter, which I think causes that error

[2015-07-20 23:16] sckott opened #59 "Fishbase api down temporarily"
working on getting it back up...

[2015-07-20 23:34] sckott commented on #59
back up, :bullettrain_side:

[2015-07-20 23:34] #59 closed

[2015-07-20 23:43] mlandis commented on #58
@cboettig @sckott Nice catch! :fishing_pole_and_fish: Upgrading to `httr_1.0.0` fixed this (possibly in conjunction with reinstalling rfishbase from github). Interestingly, I do not receive any error from my Berkeley workstation, which has `httr_0.6.1` installed. Thanks for the help.

[2015-07-20 23:52] #58 closed

[2015-07-20 23:54] cboettig commented on #58
@sckott nice catch! @mlandis my bad; `httr (>= 1.0.0)` is now enforced in the DESCRIPTION, which should help avoid this.

(btw, I think `install_github()` now forces everything to upgrade to the latest CRAN version anyway -- that is, if you're running the most recent devtools at least)...

[2015-07-21 21:15] cboettig commented on #46
Looks like these items are now delegated to specific issues, so closing this.

[2015-07-21 21:15] #46 closed

[2015-07-21 21:41] cboettig opened #60 "Make queries that identify which species meet the queried criteria"
Suggested in #49.  In general this is difficult; particularly as it is not clear that arbitrary SQL queries should be supported.  Ultimately be addressed by redesigning the API to return a few very large joined tables, making subsetting on arbitrary queries both easier and more natural.  Meanwhile, most queries not constructed around query species are more-or-less out of scope for the current impl

[2015-07-21 21:52] cboettig opened #61 "More consistent / clearer function names"
As suggested in #49:

- [ ] `ping()` to  `ping_fishbase_server()`?
- [ ] `species_list()` to ??? (returns a vector, not a list...)
- [x] `speciesnames()` to `species_names()` (more consistent)
- [x] `commonnames()` to `common_names()`
- [x] deprecate `species_info` in favour of `species()` (e.g. aliases should warn about depreciation)
- [ ] .... Others?

[2015-07-21 22:01] cboettig commented on #34
Closing as this is now implemented.  Will open new issues to address outstanding to-do items such as documentation; for now this will just be left as an alpha level feature for the first CRAN release.

[2015-07-21 22:03] cboettig opened #62 "Document SeaLifeBase"
Basic access implemented in #34, but essentially an invisible method in 2.1.0.  Needs proper documentation, testing, and further development to be a first-rate citizen in rfishbase.  Perhaps development should fork to a new package to enable better discovery of a SeaLifeBase R interface.

[2015-07-21 22:04] cboettig opened #63 "Add "estimates" endpoint"
As suggested in thread in #35

[2015-07-21 22:05] cboettig commented on #35
Moving the request re `estimates` to a new issue for clarity; and closing this resolved issue.

[2015-07-21 22:05] #35 closed

[2015-07-21 22:09] cboettig opened #64 "Add endpoint to search for fields"
API now includes an endpoint to list all tables that have fields matching a certain value.  This addresses a suggestion from #49 and should help address the more general issue highlighted by #47.

For example, see: http://fishbase.ropensci.org/listfields?fields=Temp

[2015-07-21 22:09] cboettig commented on #47
Closing this since min/max temp is implemented in the `stock` table.  Working on a few other issues to address the bigger problem here as indicated in the cross-links to this issue.

[2015-07-21 22:09] #47 closed

[2015-07-21 22:11] cboettig opened #65 "Unicode issues in common names"
From Noam's review (#49)

[2015-07-21 22:11] cboettig commented on #49
I think all suggestions here are either addressed or delegated to specific issues and milestone'd appropriately, so I think we can close this.

[2015-07-21 22:11] #49 closed

[2015-07-21 22:13] cboettig opened #66 "Documentation endpoint"
Need an endpoint to provide proper detailed documentation of tables and fields. (Major issue raised in #49 and elsewhere).  Pending implementation on the API side first, see https://github.com/ropensci/fishbaseapi/issues/62

[2015-07-21 23:04] cboettig commented on #61
Re: `ping()` vs `ping_I_really_like_typing`... namespacing the function seems to make this more explicit anyhow: `rfishbase::ping()` does ... what you think it does, right?

Re `species_list()`, also `species_list` as an argument (which technically can use a list, though a character vector is always what is shown in the documentation)... the term `vector` doesn't seem very user friendly.  Since th

[2015-07-21 23:04] #61 closed

[2015-07-22 03:31] #64 closed

[2015-07-22 18:50] mlandis opened #67 "length_length() gives Error/stop() for certain species names"
`length_length()` reports `no results found for query` as an error for certain species. I can find the taxon using `species()`, so perhaps the problem species can't report certain default values for `fields` provided by `length_length()`? I'm not a great R programmer so I haven't pinned down where the error occurs.

If my species list contains any of these bad apples, then `length_length()` calls

[2015-07-22 20:29] cboettig commented on #67
@mlandis hmm, it should just be throwing a warning, not an error that breaks the query.  I'm afraid I cannot reproduce; I see:

[code]

With both a working and empty species I get a data frame back with no errors, just the warning:

[code]

Admittedly a better warning would give the species name instead of the query with a SpecCode...

I suspect this is another version thing, maybe `tidyr`/`dplyr`

[2015-07-23 13:23] mlandis commented on #67
Welp, I no longer seem to be able to produce the error, so I'll assume I introduced the problem when futzing with debugging tools from the earlier issue. Sorry to waste your time!

[2015-07-23 13:23] #67 closed

[2015-07-27 08:35] luigi-asprino opened #68 "sealifebase/taxa "server error""
Hi,
Thank you for your work. It is very helpful.

It seems that the taxa API does not work.
I tried: http://fishbase.ropensci.org/sealifebase/taxa?
and I got this response: {"error":"server error"}

[2015-07-27 16:12] sckott commented on #52
Sorry to chime in so late here Carl. Seems like we're trying to solve this a bit on the API side by making new routes for finding fields across all tables (`/listfields` route) and the `/docs` route for getting details on all tables and more detailed metadata on each table

I'm curious to hear what `rfishbase` users would like to see from their perspective (i.e., the functions and their parameters

[2015-07-27 16:14] sckott commented on #68
hi @luigi-asprino I'll take a look and get back to you soon....

[2015-07-27 16:44] sckott commented on #68
almost there...

[2015-07-27 16:54] sckott commented on #68
This should work soon - deploying the fix to the server shortly:

http://fishbase.ropensci.org/sealifebase/taxa?species=carina&limit=3

[2015-07-27 16:57] rBatt commented on #52
I haven't had much time to play around here lately, so my apologies if my suggestion mostly reflects an ignorance.

I like Car's suggestion 3. I tend to prefer "one big table" setups, but in that case it's important to know the logical associations among the columns (e.g., some columns would be "oxygen" columns etc). I guess you could put the data in a "long" format (a column named "variable", a c

[2015-07-27 17:37] luigi-asprino commented on #68
Great!!
Thank you so much!!

[2015-07-27 17:38] sckott commented on #68
np, so that works for you?

[2015-07-27 17:38] sckott commented on #68
np, so that works for you? @luigi-asprino

[2015-07-27 17:39] luigi-asprino commented on #68
yes, it works

[2015-07-27 17:41] sckott commented on #68
great!

[2015-07-27 21:06] jafflerbach commented on #52
For my work I would prefer one big table as well that I can then use to select species and attributes of interest that I can then join to my data (much like @rBatt said).

[2015-07-28 14:13] luigi-asprino commented on #68
Hi @sckott,
Sorry, yesterday I did not notice that the parameter "offset" is ignored.
The requests http://fishbase.ropensci.org/sealifebase/taxa?limit=1&offset=0 and  http://fishbase.ropensci.org/sealifebase/taxa?limit=1&offset=1 return the same result.

[2015-07-28 17:16] sckott commented on #68
@luigi-asprino sorry about that! I'll have a look and hopefully get it fixe right away

[2015-07-28 17:22] sckott commented on #68
fixed in https://github.com/ropensci/fishbaseapi/commit/6c5560999d57c04f1cd32d9b3da24e0f34334afe

those example should work now @luigi-asprino

[2015-07-28 17:22] #68 closed

[2015-07-28 18:41] mlandis commented on #52
I normally prefer to read the entire table once then slice it as needed afterwards, which can sometimes be done with just two commands. Reading small tables then joining needs about one read statement and one join statement per table. So from that, I like Option 2 just because it lends to cleaner and simpler code. I don't know what design considerations you're balancing, so maybe there's some perf

[2015-07-29 08:30] luigi-asprino commented on #68
Hi @sckott,
thank you, but it seems the same problem exists for the API taxa.
http://fishbase.ropensci.org/taxa?limit=1&offset=1
http://fishbase.ropensci.org/taxa?limit=1&offset=0

[2015-07-29 15:18] sckott commented on #68
@luigi-asprino Sorry about that!  Fixing now, For some reason, I decided not to allow the `offset` parameter in the `/taxa` routes, no goo reason for that though

[2015-07-29 16:15] sckott commented on #68
@luigi-asprino okay, should work now

As we build out the test suite for these APIs, hopefully you'll run into less problems :)

[2015-07-30 08:51] luigi-asprino commented on #68
@sckott thank you for your quick fix.
Don't worry about the bugs :) I know you are in testing phase.

[2015-07-30 14:46] sckott commented on #68
no problem, thanks for reporting the problem

[2015-08-04 14:36] iwanicki opened #69 "Data set ‘all_taxa’ not found"
Hi all,

This might be a silly question as I am new to R. I've been trying to run rfishbase package to identify Family names for a set of species, but always get the same error:

data(all_taxa)
all.fish = all_taxa[,c(2,3,10)]
sname = as.character(unlist(str_join(all.fish$Genus, all.fish$Species, sep = " ")))
all.fish = data.frame(sname, all.fish$Family)
names(all.fish) = c("sname", "Family")

Warn

[2015-08-04 16:20] cboettig commented on #69
@iwanicki I think you are looking for the function `load_taxa()` to get the taxa table.  e.g.

[code]

btw, if you'd prefer joining the species and genus names, you might prefer:

[code]

Feel free to close the thread if this resolves your issue.

[2015-08-31 16:09] cboettig commented on #69
@iwanicki closing this because I think the above should address it; please re-open if the issue persists.

[2015-08-31 16:09] #69 closed

[2015-08-31 16:14] cboettig commented on #66
Endpoint added: `docs()`.  Note: needs unit tests and the API needs to provide more complete documentation still.

[2015-08-31 16:14] #66 closed

[2015-08-31 16:16] cboettig commented on #65
Cross-listing this under fishbaseapi, have to see if this is on the server side or the R client side.

[2015-09-08 20:10] sckott commented on #65
@noamross can you give an example?  want to make sure we're talking about the same thing

I'll look in the database itself in mysql, and the sinatra app first to see if there's any issue there.

[2015-09-08 21:35] noamross commented on #65
[code]

[code]

[2015-09-08 21:52] sckott commented on #65
thanks @noamross !

[2015-09-30 20:26] afredstonhermann commented on #34
Hi @cboettig -

Working with @jafflerbach and testing out sealifebase we aren't able to get it to work. Using the snippets of code [you provided](https://github.com/ropensci/rfishbase#sealifebase) we get the following error:

[code]

But everything is looking good when using the fishbase API

[2015-09-30 23:10] cboettig commented on #34
okay, thanks, thought it might still be wonky.  I'll take a look soon

[2015-10-15 22:14] LoTreb opened #70 "SeaLifeBase API not working"
Hi there,
in attempting to query sealifebase, I was unable to connect using the given API example.

options(FISHBASE_API = "http://fishbase.ropensci.org/sealifebase")
kingcrab <- common_to_sci("king crab")
kingcrab

Please advise or send a status update.  Thank you

[2015-10-16 00:03] cboettig commented on #70
Yes, apologies. Looks like the cached taxa table for sealifebase data was lost.  Please try installing from github and give it another go.  Sealifebase was only recently added and hasn't been tested thoroughly, so do ping me if things break or you start getting unexpected results.

[2015-10-16 00:04] cboettig commented on #34
Looks like the sealifebase taxa table had been lost from cache.  just pushed it back up, so the command should no longer error but still needs some testing.

[2015-10-16 01:24] RTreb commented on #34
I did a new install of rfishbase a moment ago and still get the error reported by afredstonhermann:

[code]
returns:

Error in UseMethod("filter_") :
  no applicable method for 'filter_' applied to an object of class "NULL"

Everything appears to be working properly using the fishbase API.

Thanks for taking the time to create and maintain such a useful tool!

[2015-10-16 16:35] cboettig commented on #34
sorry, it would help if I remembered to push my changes too.  Try now?

[2015-10-17 17:39] afredstonhermann commented on #34
I just uninstalled and reinstalled the rfishbase package and got the same error:

    Error in UseMethod("filter_") :
      no applicable method for 'filter_' applied to an object of class "NULL"

    Error: object 'kingcrab' not found

Sorry to be the bearer of bad news! And second @RTreb - thank you so much for contributing this.

[2015-10-18 22:21] cboettig commented on #34
Hmm, @afredstonhermann  did you install from CRAN, from `packages.ropensci.org` or from `install_github()`?  Installing from either of the latter two and then reloading the package should work now.  You can also try `data(sealifebase)`; if the resulting `sealifebase` data.frame isn't there and you just have a NULL, then R hasn't gotten the updated version somehow.  Sorry for the trouble.

[2015-10-18 23:38] RTreb commented on #34
I just installed from ```packages.ropensci.org``` and it now works for me. Thanks!

[2015-10-19 22:49] LoTreb commented on #70
Thanks Carl.  Managed to get it partly working, however, I am unable to extract common names using my list of scientific names.  It worked for fishbase and now I have a few hundred invertebrates to collect common names for.  Thoughts?

[2015-10-20 01:24] LoTreb commented on #70
Seems to be working now.  Thanks!

[2015-10-20 01:24] #70 closed

[2015-10-20 04:59] afredstonhermann commented on #34
@cboettig I reinstalled it from ```packages.ropensci.org``` and it works perfectly. My bad. Thank you!

[2015-11-02 20:10] amroco opened #71 "rFishBase request timed out"
I am using rFishBase to query information from the FishBase website.
Although the package was working fine for me last week I have been getting the following error:

Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached
In addition: Warning messages:
1: In parse_name(species) : NAs introduced by coercion
2: In parse_name(species) : Species  valid_name could not be parsed

[2015-11-02 20:23] sckott commented on #71
@amroco Sorry about that, Looks like our server is having trouble, looking at it

[2015-11-02 20:25] aammd commented on #71
Myself and @joeybernhardt are having the same issue, FYI :fish:

[2015-11-02 20:25] sckott commented on #71
thanks for reporting @aammd - trying to sort out problem

[2015-11-02 20:33] cboettig commented on #71
Looks like XSEDE Chameleon servers are down right now. downside of using NSF resources :/  should be back up some time today...

[2015-11-02 20:37] sckott commented on #71
thanks @cboettig

[2015-11-02 20:51] amroco commented on #71
legends, thanx @sckott  @cboettig

[2015-11-03 15:46] JoeyBernhardt commented on #71
Yes, I'm running into the same issues, getting the 'couldn't connect to server' error.

Error in curl::curl_fetch_memory(url, handle = handle) :
  Couldn't connect to server

Thanks for looking into this!

[2015-11-03 17:04] cboettig commented on #71
Hi everyone, sorry for the server going down and the slow time in bringing it back up.  We'll look into what we can do to speed that up in the future.   Anyway, it should be back up now.  Ping us here if you encounter any further issues.

[2015-11-03 20:18] JoeyBernhardt commented on #71
great, thanks a lot!

[2015-11-09 12:10] Minato77 opened #72 "Error in curl"
I began to use the new version of rfishbase using API in the last weekend.
It worked and helped my research for a few hours, but after that an error like below has been showing up.

Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached

What happened?
Is it an internal problem of my network, or has anything happened to the server?

I apologize for my lack of knowledge on A

[2015-11-09 17:50] cboettig commented on #72
Sorry, yes, the server is down at the moment, working to get it back up.  (We've been experimenting a bit with different providers, the NSF XSEDE services have been pretty unstable recently so we're switching now to Amazon)

[2015-11-09 19:00] Minato77 commented on #72
Thank you very much.
I hope it works better.

[2015-11-09 19:18] cboettig commented on #72
Okay, should all be back up now.

[2015-11-09 19:18] #72 closed

[2015-11-10 01:18] sckott opened #73 "Fixes for breaking tests"
against current server setup:

* `rfishbase::synonyms()` is requesting a field `ColStatus`, but that doesn't exist in the `synonyms` table, change to `Status` should fix

[2015-11-10 01:22] sckott commented on #73
couldn't find any others, pushing this branch

[2015-11-17 01:01] amroco opened #75 "Error with query"
Hi there, getting the following error:
Any thoughts?

Warning messages:
1: In error_checks(parsed, resp = resp) :
  Mysql2::Error: Unknown column 'ColStatus' in 'field list': SELECT  SynGenus,SynSpecies,Valid,Misspelling,ColStatus,Synonymy,Combination,SpecCode,SynCode,CoL_ID,TSN,WoRMS_ID FROM `synonyms` WHERE `synonyms`.`SynSpecies` = 'maxillosus' AND `synonyms`.`SynGenus` = 'Opistognathus' LIMIT

[2015-11-17 04:44] cboettig commented on #75
Hmm, I cannot replicate this error.  Can you give me the output of `sessionInfo()`?

@sckott Can you replicate?  I'm not sure exactly where that API query is coming from, the query in the URL link above does indeed give that error. However, the validate_names() function on the species listed seems to work fine for me in `rfishbase` `v2.1.0`:

[code]

[2015-11-17 05:42] sckott commented on #75
That works for me.

[2015-11-19 17:28] Rekyt opened #76 "Can't access tables fields"
Hi,

Thank you for making this package available to access FishBase.
I'm getting an error while trying to reproduce the example:

[code]

with
[code]

What could I've been doing wrong?

Thanks ;)

[2015-11-19 17:35] cboettig commented on #76
Thanks for the bug report, we recently upgraded the back end API and may have impacted a few things. will look into it.

[2015-11-19 17:43] #76 closed

[2015-11-19 17:44] cboettig commented on #76
Okay, sorry about that.  Should be fixed now on the GitHub version.

[2015-11-19 18:11] Rekyt commented on #76
Just reinstalled the GitHub version, works perfectly, thanks!

[2015-11-30 20:09] harryganz opened #77 "maturity query not selecting species"
Any species I pass into the species argument to the maturity function returns the same data:

For Cod:
[code]

For Cocoa Damselfish:
[code]

I've also noticed that the output is missing the sciname column. My guess is that it is unable to query by species for some reason and is just pulling the first 200 records every time, no matter the query.

[2015-11-30 20:24] cboettig commented on #77
Thanks for the bug report.  Seems like the fishbase team has somewhat inconsistent use of names for the SpecCode key in their database.  I can put a work-around into rfishbase for the `maturity` table, but we're looking into more general solutions.  https://github.com/ropensci/fishbaseapi/issues/83

[2015-11-30 20:24] sckott commented on #77
Right, that table wants `Speccode` not `SpecCode`

[2015-12-01 14:49] harryganz commented on #77
In the meantime I made a fairly brute force workaround in my forked version of this repo. You can find it at http://github.com/harryganz/rfishbase. I don't think I'll make a pull request because it is very specific, and hopefully the fishbase team fixes the naming problem. If you would like me to make a pull request, tell me in a comment below.

[2015-12-01 16:58] cboettig commented on #77
@harryganz  Yeah, it looks like a proper fix on the fishbase end will be a while; apparently the PHP code for the website has a lot of the inconsistent case use hard-coded.  We may be able to do some normalization on the API end though, since it looks like `maturity` table isn't the only one impacted.

Meanwhile, feel free to send a PR, your fix looks reasonable under the circumstances and is cert

[2015-12-01 17:19] harryganz commented on #77
I sent a pull request. It only works with the maturity endpoint for now, but If I could get my hands on a database schema, I could write a more general workaround for any misnamed fields.

[2015-12-01 18:39] cboettig commented on #77
@harryganz Thanks.  The API will list other tables that use `Speccode` instead of `SpecCode`: http://fishbase.ropensci.org/listfields?fields=Speccode&exact=true

(Note that not all of the tables listed are actually implemented/exposed by the API, and thus won't have corresponding endpoints.  http://fishbase.ropensci.org/heartbeat lists tables that have been implemented.)

Would be great if you wan

[2015-12-01 20:17] harryganz commented on #77
Added to pull request. I think all the functions that take species_list as an argument should work now.

On a related note, I don't really know how you guys are testing, so I tested them manually but didn't add any more tests.

[2015-12-01 23:30] JoeyBernhardt commented on #34
Hi there,

I'm having trouble accessing the SeaLifeBase data. Following the comments above, I've installed rfishbase as so:

`install.packages("rfishbase", repos = c("http://packages.ropensci.org", "http://cran.rstudio.com"))`

Then, using:
`options(FISHBASE_API = "http://fishbase.ropensci.org/sealifebase")`
`> kingcrab <- common_to_sci("king crab")`

I get:

`Warning message:
In error_checks(pars

[2015-12-01 23:38] sckott commented on #34
@JoeyBernhardt Sorry about that. Getting the same thing. Taking a look

[2015-12-02 00:03] JoeyBernhardt commented on #34
Awesome @sckott, thanks so much!

[2015-12-02 00:28] sckott commented on #34
@JoeyBernhardt try again, should be working now

[2015-12-02 00:57] JoeyBernhardt commented on #34
Hi @sckott, yes it's working for me now. Thanks for being so responsive and helpful.

[2015-12-02 00:58] sckott commented on #34
thanks for reporting the problem @JoeyBernhardt

[2015-12-02 00:59] #34 closed

[2015-12-07 08:22] Philipp-Neubauer opened #79 "Updating sealifebase table with load_taxa"
Hi there,

thanks for an incredibly useful package. I'm trying to update the cached version of the sealifebase table (I'm wondering if there's more data beyond the 100k cached lines, which don't contain some of the species I'm looking for). But load_taxa(update=T) fails for me with FISHBASE_API set to sealifebase (it works with fishbase). Is there something I need to do beyond changing the FISHBAS

[2015-12-07 20:25] Philipp-Neubauer commented on #79
PS heres the output:

NULL
Warning message:
In error_checks(parsed, resp = resp) :
  Mysql2::Error: Unknown column 'species.GenCode' in 'field list': SELECT  species.SpecCode, species.Genus, species.Species, species.SpeciesRefNo, species.Author, species.FBname, species.SubFamily, species.FamCode, species.GenCode, species.SubGenCode, species.Remark, families.Family, families.Order, families.Class F

[2015-12-07 20:33] rBatt commented on #79
I get something similar:

[code]

Although, I'm not sure if it's actually failing or not. It's just a warning. Not sure if it actually updated anything or not. Because not an error, `traceback()` isn't useful.

[2015-12-07 20:39] cboettig commented on #79
Thanks for the bug reports.  @sckott guessing this is another issue from the API re-write, looks like the taxa endpoint throws an error, e.g. http://fishbase.ropensci.org/sealifebase/taxa

[2015-12-08 10:40] sckott commented on #79
@cboettig right, I'll try to have a look soon

[2016-01-18 17:48] cboettig opened #80 "Allow "endpoint()" based functions to query on arbitrary field without giving species"
e.g. something like `country(query = list(C_Code=440))` should be possible.

[2016-01-31 17:35] hkindsvater commented on #77
I'm getting an error when I try to use maturity () today:

maturity(tunas)
 Error in names(data)[names(data) == "Speccode"] = "SpecCode" :
  attempt to set an attribute on NULL
In addition: Warning messages:
1: In check_and_parse(resp) : Bad Request (HTTP 400).
2: In error_checks(parsed, resp = resp) :
  no results found for query https://fishbase.ropensci.org/maturity?Speccode=91&limit=200

any h

[2016-01-31 17:40] sckott commented on #77
There are indeed no results for the query `https://fishbase.ropensci.org/maturity?Speccode=91&limit=200` Looks to be a parsing problem internally in the pkg. Will have a look

[2016-01-31 21:18] sckott commented on #77
@hkindsvater Is it right that the query you tried was `maturity("tunas")` ?  @cboettig correct me if wrong, but I think that function expects a sci. name, not a common name

[2016-01-31 21:44] hkindsvater commented on #77
Apologies, tunas is an object I defined:

tunas <- species_list(Family = "Scombridae")

[2016-02-01 16:41] cboettig commented on #77
@sckott Looks like the API is still unhappy about `Speccode` being in the wrong case (i.e. query works with `SpecCode` but not `Speccode`.  Remind me, didn't we tweak the API code to ignore case in the queries?  Or was there a reason that wouldn't work?

I may also have to fix the R code to handle both cases.

(in any event, annoying that the database can't name their own key fields consistently..

[2016-02-01 17:06] sckott commented on #77
Hmm, can't remember if the `speccode` case thing was fixed in API or not, will check

for this client though, I think a fix is

[code]

as one of the IDs sent through the function call resulted in `NULL`, but then that `if()` statement was failing on a value of `NULL`

[2016-02-01 17:48] sckott commented on #77
@cboettig looks like we never sorted this on the API side https://github.com/ropensci/fishbaseapi/issues/83 - I'll try to get that done soon

[2016-02-01 20:36] sckott commented on #77
@cboettig I can send a pull request if you like with that change.

In this case the request is right, it's just that for code `91` there are no results, so we still need to make sure the client is robust to this scenario

[2016-02-01 21:19] cboettig commented on #77
code 91 seems to have the full limit number of results when using `SpecCode` though: https://fishbase.ropensci.org/maturity?SpecCode=91&limit=200

PR would be great.

[2016-02-01 21:23] sckott commented on #77
yeah, but `curl 'https://fishbase.ropensci.org/maturity?SpecCode=91&limit=200' |  jq .data\[].Speccode` gives

[code]

[2016-02-02 01:20] sckott commented on #77
@hkindsvater try installing from another branch `devtools::install_github("ropensci/rfishbase@sac-null")` and try your example code again, should work now

[2016-02-02 01:35] hkindsvater commented on #77
Looks like it worked! thanks for getting to this so quickly

[2016-02-02 07:10] sckott commented on #77
glad it works

[2016-02-04 00:25] amroco opened #83 "Error with SeaLifeBase Query"
Hi,

Getting the following error when querying SLB for SpecCodes for a list of species,
(but no dramas when using the same list of species in the validate_names function).

Error in vapply(elements, encode, character(1)) :
  values must be length 1,
 but FUN(X[[1]]) result is length 2

Thanks

[2016-02-04 00:33] sckott commented on #83
Thanks for the report @amroco will have a look

[2016-02-04 00:36] sckott commented on #83
@amroco Please do share what your query was

[2016-02-04 00:46] amroco commented on #83
Sweet, thanks bud,

#So this works fine:
New_Taxon_invert_spp_val=validate_names(New_Taxon_invert_spp)
str(New_Taxon_invert_spp_val)
New_Taxon_invert_spp_val=as.character(New_Taxon_invert_spp_val)

# 304 obs now, so a difference of 63 obs
Difference=New_Taxon_invert_spp[!(New_Taxon_invert_spp %in% New_Taxon_invert_spp_val)]
str(Difference)
Difference
#There are 82 differences in names, check how m

[2016-02-04 00:49] sckott commented on #83
can you paste in the contents of `New_Taxon_invert_spp` or email it to me (scott@ropensci.org)

[2016-02-04 01:05] sckott commented on #83
@cboettig hmm, looking into this and getting the same error as above, looks like may come down to the internal `taxa()` function that is matching names against a cached version of a species table. Is this species table only for fishbase, or for both fishbase and sealifebase?

[2016-02-04 01:08] amroco commented on #83
Will email it :)
I had a similar problem with GenCodes for FB, but worked that out- however my solution isn't fixing this issue (partially because I don't know what I did to fix that problem in the first place).
Cheers,
A

[2016-02-04 01:10] sckott commented on #83
thanks

been making some small changes to the API, so maybe something broken on that end

[2016-02-04 23:13] sckott opened #84 "Rework load_taxa to loop until all data retrieved"
given https://github.com/ropensci/fishbaseapi/issues/87 we need to rework this fxn to loop using `limit` and `offset` params

[2016-02-04 23:13] sckott commented on #79
the large limit by deafult in the `load_taxa()` function I'm pretty sure was causing a 502 error, which is most likely a requeset that's too large. that function hit the `/taxa` route on the API, which didn't have an enforced max limit value, but should have, at 5000. That has been fixed as of now.

see new issue #84

[2016-02-04 23:30] sckott commented on #63
@cboettig added an `/estimate` route - let me know at your convenience if it looks good

[2016-02-04 23:54] sckott commented on #57
what exactly do you want done? a new route or add some data from one table to another?

[2016-02-05 00:02] sckott commented on #80
what do you mean?

[2016-02-05 00:12] sckott commented on #77
Okay, this is sorted now, e.g.,

[code]

[code]

And the code that goes with _Stegastes variabilis_ (3654) has no results https://fishbase.ropensci.org/maturity?speccode=3654 as it should be

Closing

[2016-02-05 00:13] #77 closed

[2016-02-05 00:15] sckott commented on #75
closing as works for us, and inactivity

[2016-02-05 00:15] #75 closed

[2016-02-05 00:19] #73 closed

[2016-02-05 00:22] sckott commented on #65
the SQL database does show the same `???` as you show above

[2016-02-05 00:31] sckott commented on #65
@cboettig AFAICT I'm not sure we can fix this. Can you ask (or let me know who to ask) if Fishbase folks can check if somehow in making the dump they give us, the characters are borked?

[2016-02-05 00:48] sckott commented on #55
@jebyrnes is this the kind of data you are looking for? I don't know what data used to be in the `occurrence` route, so curious if this is what you need? There is a `museum` route, which seems to be what data is pulled from when you are on the Fishbase.org website when you click `Occurrence`

[code]

just getting 1 row for brevity, and to easily show what data is given back

[2016-02-05 01:28] jebyrnes commented on #55
I think so? This was long enough ago that I've moved on.

[2016-02-05 01:32] sckott commented on #55
thanks :) sorry about the long time :clock1:

[2016-02-05 05:50] cboettig commented on #80
currently all functions created via `endpoint()` closure are designed to take a list of scientific names as the argument.  These get converted to a SpecCode and the results are returned.  Some users have requested being able to do a search where instead of giving a list of species names, they'd like to give some other key, like country name (or country code).  The API allows this I think, since we

[2016-02-05 15:14] sckott commented on #80
Right, well almost all routes allow arbitrary queries on their fields, so I guess it's just a matter of implementing here. I think your example above `country(query = list(C_Code=440))` looks reasonable to me, where `query` gets passed into query in the `GET` call (combined with other query params as needed

[2016-02-05 16:46] sckott commented on #83
@amroco try it again after re-installing from a different branch: `devtools::install_github("ropensci/rfishbase@sckott-endpoint-fix")`

[2016-02-05 16:48] sckott commented on #83
@cboettig I made a change on branch `sckott-endpoint-fix` - the changes I made https://github.com/ropensci/rfishbase/compare/master...sckott-endpoint-fix were just to get a unique set of results when calling `speccodes()` and when calling `species_names()` as in some cases those were resulting in more than one result, some of which were the same names - Anything seem off about that. All tests and

[2016-02-08 16:37] cboettig commented on #63
LGTM.  Think we need an entry for the endpoint in `/docs`, e.g. update https://github.com/ropensci/fishbaseapi/blob/master/docs/docs-sources/tables.csv

[2016-02-08 16:38] cboettig commented on #57
I believe addressing #80 should fix this.

[2016-02-08 16:39] cboettig commented on #83
good catch, thanks.  PR?

[2016-02-08 19:31] sckott commented on #63
okay, will do

[2016-02-08 19:35] sckott commented on #57
okoay

[2016-02-08 19:36] sckott commented on #83
yeah

[2016-02-08 20:22] sckott commented on #63
what do you think is a good entry for `/estimate` in the table?

[2016-02-09 00:53] sckott commented on #63
added, though can't find any description of the `estimate` table in the manual, so not sure what to put in there

[2016-02-10 03:47] tbridge1981 opened #86 "updateCache bug"
I am trying to update the Cache 'updateCache(”.”)' in rfishbase, but the program keeps crashing. I understand it may take considerable time, but I have left it running for several days and each time R simply times out. Is this a bug with the function or the website?

[2016-02-10 04:29] cboettig commented on #86
Sounds like you may be running a very outdated version of `rfishbase`.  Can you try updating to the current version on CRAN? (2.1.0 currently).  Also be sure to see the README and vignette of the current version, since almost all of the functions have changed from that which was described in the original J. Fish Biology publication.  (For instance, there is no longer an `updateCache` function nor

[2016-02-10 04:29] #86 closed

[2016-02-10 19:03] dchag opened #87 "diet percent"
Is it possible to query the diet percent information from Fishbase?  That is, the Food and Feeding Habits Summary table for each diet reference accessed by clicking on the main food item in the diet table on Fishbase.

[2016-02-10 20:03] sckott commented on #87
thanks for your question @dchag - can you give an example query?

[2016-02-10 20:42] dchag commented on #87
In Fishbase, one can click on the main prey item in the diet table (one row for each diet reference) and it takes you to another table with the percent diet for all prey items in that study (below).  Basically, I want to drill down another layer into the rfishbase:diet function.  Each row that is output by the diet function has the percent diet information behind it on Fishbase.

Diet percent

Foo

[2016-02-10 22:25] sckott commented on #87
Okay, I haven't changed anything on the fishbase API yet, but if we pull in data from the `diet_items` table to the `/diet` route, then search using `diet("Oreochromis niloticus")` we get the additional columns in the resulting data.frame

[code]

In addition, the data.frame in this case is 39 rows instead 7 rows, which you get with the current API.  This is because for each row of data in the die

[2016-02-11 00:05] amroco opened #88 "OrdCode and ClaCode access"
Looking at whats available using the species function I can see GenCode, SpecCode and FamCode,
but nothing for higher levels such as order and class.

Is there a way to access these?
Thank you :)

[2016-02-11 01:13] dchag commented on #87
I think the diet function is misleading, because it returns the collapsed diet_items per fishbase.  Fishbase simply collapses each diet reference to provide only the dominant prey item, omitting the rest of the prey items.  Perhaps change it to return the diet_items table like you did below… or create a new function all together.  This would be incredibly useful for building trophic-dynamic ecosys

[2016-02-11 01:41] sckott commented on #87
@dchag not clear to me, so do you prefer to only get back the dominant item from the `diet()` function like the Fishbase site shows?  Or do you want the detailed data back (expanded with all items, not just dominant)?

[2016-02-11 01:45] dchag commented on #87
I prefer the detailed diet information, all items, with percentages.  Sorry for the confusion.

From: Scott Chamberlain [mailto:notifications@github.com]
Sent: Wednesday, February 10, 2016 8:42 PM
To: ropensci/rfishbase <rfishbase@noreply.github.com>
Cc: Chagaris, David <dchagaris@ufl.edu>
Subject: Re: [rfishbase] diet percent (#87)

@dchag<https://github.com/dchag> not clear to me, so do you pref

[2016-02-11 16:18] cboettig commented on #88
The `species_list()` function will allow you to search by Order etc by creating a list of species in the requested taxon level.  The FishBase database doesn't define or use codes corresponding to Order or Class, but you should be able to make any query you need by just filtering on the corresponding species names as provided by `species_list()`.  HTH,

[2016-02-11 16:18] #88 closed

[2016-02-11 16:48] sckott commented on #87
thanks @dchag

[2016-02-13 00:32] sckott commented on #83
@amroco

Reinstall from master just so that we're o the same page `devtools::install_github("ropensci/rfishbase")`

Then here's the code I have, some var names changed to be a bit shorter

[code]

although, when I do

[code]

it works fine, so seems maybe there's something going on with the http requests, maybe too many requests back to back - Still trying to track this down...

[2016-02-13 00:56] amroco commented on #83
Thanks Scott,
Currently:

res <- list()
for (i in seq_along(New_Taxon_inverts_val)) {
  cat(i, sep = "\n")
  res[[i]] <- species(New_Taxon_inverts_val[i], fields="SpecCode")
}

 just produces a list of sequential numbers from 1 to 304 for me, so no luck there at the moment.

[2016-02-13 06:00] sckott commented on #83
The output is in the `res` object :)

[2016-02-13 06:00] sckott commented on #83
you can combine like `dplyr::bind_rows(res)`

[2016-02-13 18:58] amroco commented on #83
yikes!
that;s a glaring rookie mistake,
thanks for your help :)

[2016-02-17 22:48] #71 closed

[2016-02-18 00:08] sckott commented on #83
i think i figured out the problem, fix coming

[2016-02-18 00:40] sckott commented on #83
@amroco try reinstalling like `devtools::install_github("ropensci/rfishbase@sckott-make-unique")`

that should work now, there were some names giving back duplicate codes for some reason, and then the internal parsing borked on that.

[2016-02-18 08:53] VincentHin opened #90 "Maturity table not returning sciname or SpecCode"
Hello,

When I run:

[code]

It returns:

[code]

Why doesn't the table include "sciname" or "SpecCode"?
Thanks

Vincent Hin

[2016-02-24 21:39] sckott commented on #83
did that work for you @amroco

[2016-02-24 21:41] sckott commented on #65
@noamross sorry it's been so long on this, I'm pretty sure this is a problem in the SQL database we were given. I'll see if I can get a hold of Fishbase team about this

[2016-02-24 22:19] #83 closed

[2016-02-24 22:20] sckott commented on #83
@amroco merged those changes into master, now just do `devtools::install_github("ropensci/rfishbase")`  the other branch is now deleted

[2016-02-24 22:33] #87 closed

[2016-02-24 22:57] sckott commented on #87
@dchag okay, try again requesting data from the `diet()` function, added the extra fields to the diet route from the `diet_items` table

[2016-02-24 22:59] sckott commented on #87
a fix needed for sealifebase https://github.com/ropensci/fishbaseapi/issues/90 working on now

[2016-02-24 23:09] sckott commented on #87
above is sorted now, `sealifebase/diet` works now

[2016-02-25 10:19] marchtaylor opened #91 "retrieval of trophic level"
I noticed that a previous version of rfishbase (0.2-2) allowed for the retrieval of trophic level: http://www.inside-r.org/packages/cran/rfishbase/docs/getTrophicLevel

The "getTrophicLevel" doesn't exist anymore, but is this still possible with another approach? species() doesn't seem to return this field.

Cheers,
Marc

[2016-02-25 14:28] cboettig commented on #91
I believe it is in the `ecology()` table. Also see `listfields()` to discover a in which tables a keyword appears

[2016-02-25 14:45] marchtaylor commented on #91
Great! That did it:

list_fields("Troph")
eco <- ecology("Triaenodon obesus")
eco["DietTroph"]
eco["DietSeTroph"]

[2016-02-25 14:45] #91 closed

[2016-03-03 19:42] boopsboops commented on #80
A big +1 for this functionality from me! A couple of times I've tried to make a regional species list of fishes, but with no success in rfishbase.

Even with the list of all species names, I still could not figure out how to access the country table and then subset. Any tips on a workaround would be appreciated!

[2016-03-03 20:28] sckott commented on #80
hey @boopsboops we'll try to get this implemented soon

[2016-03-03 20:37] boopsboops commented on #80
Awesome, thanks!

[2016-03-08 16:51] sckott opened #92 "Fxn to get taxonomy"
via `/taxa` route, wrapped already but its an internal fxn. okay if we have an exported fxn for users to get taxonomy data from the `/taxa` route @cboettig ?

[2016-03-09 19:51] dchag commented on #87
At first glance, this appears to working great now.  Thank you.

From: Scott Chamberlain [mailto:notifications@github.com]
Sent: Wednesday, February 24, 2016 5:57 PM
To: ropensci/rfishbase <rfishbase@noreply.github.com>
Cc: Chagaris, David <dchagaris@ufl.edu>
Subject: Re: [rfishbase] diet percent (#87)

@dchag<https://github.com/dchag> okay, try again requesting data from the diet() function, adde

[2016-03-09 20:02] sckott commented on #87
great! glad to hear it

[2016-03-11 17:32] sckott opened #93 "http -> https"

[2016-03-11 17:37] sckott opened #94 "update testthat syntax for new testthat version"

[2016-03-11 17:52] #93 closed

[2016-03-11 17:52] #94 closed

[2016-03-11 17:52] sckott commented on #90
hi @VincentHin sorry about the delay in replying.

having a look now

[2016-03-11 17:57] sckott commented on #90
sorry about this, but `speccode` has lots of different ways it's spelled in the database we use, e.g , `Speccode` and `SpecCode` and `speccode`, so when the spelling is off you don't get anything back.

try this:

[code]

we'll work on fixing this...

[2016-03-11 18:14] sckott commented on #90
i'm thinking of changing the API to ignore case completely in field requests, not sure if that will happen yet though

[2016-03-21 22:55] Philipp-Neubauer commented on #84
Hi Scott;

I had a stab at this to try and finally get the ```load_taxa``` working for me - see [here](https://github.com/Philipp-Neubauer/rfishbase/commit/b5c45293e8332748803090b3674980b74fb73f79). Seems to be working with a loop and ```offset``` as you suggest.

I used a similar loop for the ```endpoint``` closure since that was giving the same limit error with large ```species_lists```. I also

[2016-03-21 23:06] sckott commented on #84
nice!  Can you send two separate PR's since they are different enough I think

[2016-03-22 22:25] amroco commented on #88
Hi Carl,
I no longer need this as I got a hold of the list, but in case anyone else would like to operate at higher level taxon, there are codes for higher levels used in fishbase and sealifebase,
just thought I'd put it out there in case that's something other people may need sometime.
Cheers

[2016-03-22 22:27] sckott commented on #88
thanks @amroco - what are some examples of higher level codes?

[2016-03-22 23:08] amroco opened #97 "Distribution function: Latitude and Longitude range fields"
Hi there,
I am having trouble getting the Latitude and longitude values for a list of fish species via the distribution function, using the following code:

[code]

[code]

This code works for getting the "DepthRangeShallow" and "DepthRangeDeep" for the same species list using the "Species" function so I'm not sure why it isn't working for me now.

Thanks,
A

[2016-03-22 23:20] sckott commented on #97
Thanks very much for your report. we'll have a look

[2016-03-22 23:52] amroco commented on #88
Here is an example from SeaLifeBase:

Phylum: Arthropoda (0),
Class: Maxillopoda (10046)
Order: Harpacticoida (10046)
Family: Novocriniidae (4540)
Genus: Novocrinia (25029)

Cheers,
A

[2016-03-23 00:13] sckott commented on #97
`distribution()` fxn right now doesn't accept the `fields` parameter

[2016-03-23 00:20] sckott commented on #97
looks like we can add in `fields` param to allow it's use - should merge some PRs first though #95 #96

[2016-03-24 00:00] sckott commented on #88
thanks

[2016-03-24 00:38] amroco commented on #88
Oop, the class and order codes are unique, I accidentally copied and pasted the same value there. Anyway, there are values for those : )

[2016-03-24 01:34] amroco commented on #97
Thanks for getting on to this so quickly : )

[2016-03-24 17:01] sckott commented on #80
sorted

[2016-03-24 17:01] #80 closed

[2016-03-24 17:01] sckott commented on #84
sorted in #95

[2016-03-24 17:01] #84 closed

[2016-03-24 17:40] sckott commented on #97
@amroco okay, try it again after reinstalling like `devtools::install_github("ropensci/rfishbase")`

[2016-03-24 19:39] amroco commented on #97
So, for depth, querying the Species function for "DepthRangeShallow" and "DepthRangeDeep" the code still works, however I have begun to get the following error message:
###
Warning in load_taxa(server = server) :
  Did not recognize API, assuming it is fishbase
###

However when I rerun the code for lat and long above, I get this error message:
###
Warning in load_taxa() : Did not recognize API, a

[2016-03-24 21:19] amroco opened #98 "Update cache error"
Apologies if this is something you are currently working on, or have fixed.
However trying to update the cache and run some functions gets me this:

Thanks,
A

[2016-03-24 21:31] sckott commented on #98
do you have most recent from github? what version of the pkg do you have?

[2016-03-24 21:32] sckott commented on #98
that's just a constant set in the pkg here https://github.com/ropensci/rfishbase/blob/master/R/load_taxa.R#L7 so not sure why that error is happening

[2016-03-24 21:46] amroco commented on #98
Hm, well I reinstalled the package from the link you gave me this morning in relation to the lat and long issue using:
devtools::install_github("ropensci/rfishbase", force = TRUE)
before that I had installed from here:
devtools::install_github("ropensci/rfishbase@sckott-endpoint-fix")

Just tried load_taxa again and now get this error:

Warning in load_taxa(update = TRUE) :
  Did not recognize API

[2016-03-24 21:48] sckott commented on #98
hmm, that shouldn't happen. Did you restart your session after reinstalling?

[2016-03-24 22:06] amroco commented on #98
Ok, problem fixed!
: )
As always, best solution is to turn it off and on again..

[2016-03-24 22:13] sckott commented on #98
great, glad it works now!

[2016-03-24 22:50] sckott commented on #97
@amroco  okay, reinstall again, should fix 2nd error

the first one `Did not recognize API, assuming it is fishbase` is just a warning i think, and can be ignored I believe.

[2016-03-29 18:37] amroco commented on #98
Ok! So, I have updated the cache, using:
load_taxa(update=TRUE)

Then queried for depth, however there are a large number of species which have depth information on FishBase (e.g. Ammodytes marinus), which return NAs for depth when I query them using rFishBase.
As the query returns results for some species but not all I think this must be a cache issue?

Best,
A

[2016-03-29 18:40] amroco commented on #97
Working, awesome Thanks : )

[2016-03-29 18:40] sckott commented on #97
great :)

[2016-03-29 18:59] sckott commented on #98
there was a fix to that fxn that may fix your problem (not sure though) about 18 hrs ago https://github.com/ropensci/rfishbase/commit/cb51387664bf715e94c734ae7787f8e9604e674e - if you don't have latest can you reinstall and try again?

[2016-03-29 19:32] amroco commented on #98
No luck so far:

Reinstalled rFishbase:
devtools::install_github("ropensci/rfishbase", force = TRUE)

Updated cache:
load_taxa(update=TRUE)

Queried test species:
example = validate_names("Ammodytes marinus")
example
res <- list()
for (i in seq_along(example)) {
  cat(i, sep = "\n")
  res[[i]] <- species(example[i], fields= c("DepthRangeShallow",
                                              "Dept

[2016-03-29 19:46] amroco commented on #98
Getting this warning:

Warning in error_checks(parsed, resp = resp) :
  Returning first 5000 matches parsed of 33104 matches.
 Increase limit or refine query

[2016-03-29 21:37] sckott commented on #98
those values are NULL/NA in the API as well

[2016-03-29 21:40] sckott commented on #98
@amroco can you show me where on the fishbase website, or a screenshot at least, where you see the values

[2016-03-29 21:42] sckott commented on #98
also, `load_taxa` has a `limit` parameter - you need to set that to higher to get all data cached,

* fishbase, use `35000L`
* sealifebase, use `120000L`

the default size it gets is 5000 for each

[2016-03-29 22:31] amroco commented on #98
Ok,
added limit, so load taxa looks like:
load_taxa(update=TRUE, limit = 35000L)

The species "Atherion africanum" when queried gives
DepthRangeShallow NA
DepthRangeDeep 2

But on FB, has a depth range of 0-10
![scrnsht](https://cloud.githubusercontent.com/assets/15618227/14125981/f437e10c-f5c2-11e5-9366-1e829193edbb.jpg)

I think what was happening with "Ammodytes marinus", was instead of a depth

[2016-03-30 00:22] sckott commented on #98
weird, still can't sort out where that depth information comes from - even searching all fields in all tables only results in

[code]

and checking those results in the same you show above.

There must be some other data source that Fishbase folks are pulling from. I'll see If I can find out

[2016-03-30 00:26] sckott commented on #98
@cboettig any insight on this issue? See screenshot two comments above where depth is in middle of a string of text under an `Ecology` section - but that `depth rang 0-10` is not reflected in the data in the SQL DB/API - AFAICT - any thoughts on whether they might be getting this data from somewhere else, or if I'm just missing it

[2016-03-30 00:57] cboettig commented on #98
Not clear to me either.  The species summary page does do a weird mix of
things though relative to the database -- guess we should ask Ranier Froese
about this one.

On Tue, Mar 29, 2016, 5:26 PM Scott Chamberlain <notifications@github.com>
wrote:

--

http://carlboettiger.info

[2016-04-04 17:33] sckott opened #100 "occurrence route doesn't exist anymore"
via email

[code]

[2016-04-04 17:35] sckott commented on #100
@cboettig yeah, the occurrence table is gone in the new new SQL DB

I assume we should drop that route, and corresponding fxn in this pkg?

[2016-04-04 17:40] cboettig commented on #100
Yup.  Maybe include a warning for now "this table is no longer available in the FishBase API"?  Guess we should write to Ranier and ask about the change

[2016-04-04 17:41] sckott commented on #100
yeah, or rather a stop message?

[2016-04-04 17:51] sckott commented on #100
sealifebase has `occurrence` table, but it's apparently empty, so I guess we can treat them the same essentially

[2016-04-04 18:03] #100 closed

[2016-04-06 21:52] sckott opened #101 "New version to CRAN"
hey @cboettig I haven't been involved in when things are pushed to CRAN - are you using milestones to organize what issues go into a CRAN push?  Or not necessarily?  Seems like there's been lots of changes since last CRAN version from `2015-11-10`

[2016-04-06 23:34] cboettig commented on #101
Good question.  I was loosely tagging issues into milestones but haven't kept up on that.  The past few releases have been just when CRAN has requested specific updates (usually related to testing, see https://github.com/ropensci/rfishbase/commits/master/cran-comments.md).

But yeah, we should definitely do a CRAN push soon.  Are there any open issues we still want resolve before doing a CRAN rele

[2016-04-06 23:39] sckott commented on #101
i'll look over the issues today/tomorrow and suggest any that we should include, if any

[2016-04-06 23:40] sckott commented on #55
related to #100 - closing, occurrence table and route gone, and now function stops with error

[2016-04-06 23:40] #55 closed

[2016-04-06 23:41] sckott commented on #65
still not sorted out yet, removing from 2.2.0 mileston

[2016-04-07 16:29] sckott commented on #36
@cboettig  removed from the 2.20 milestone, do you want to implement these other tables, or not?

[2016-04-07 16:33] sckott commented on #57
is this sorted out?, given #80 is closed

[2016-04-07 16:35] sckott commented on #62
Hmmm, but the infrastructure is very shared though, so maybe makes sense to keep both in the same pkg

could use better docs though I suppose

keep in this milestone or move to `2.3.0`?

[2016-04-07 16:36] #63 closed

[2016-04-07 16:36] #79 closed

[2016-04-07 16:40] cboettig commented on #62
agree that we should keep them linked given the overlap.  Re documentation, true but of course a bit vague.  I think the key thing would be to put somewhere clearly in the package DESCRIPTION and Vignette that the package is an interface to both FishBase and SeaLifeBase?

[2016-04-07 16:42] cboettig commented on #101
thanks for going through the outstanding issues.  I haven't done a good job of getting all the closed issues / bug-fixes mentioned and linked in the NEWS file for the next release.  Can you take a run through that and update NEWS as you close of issues for this release?

[2016-04-07 16:43] cboettig commented on #57
yups

[2016-04-07 16:43] #57 closed

[2016-04-07 16:55] sckott commented on #101
Yes, will update news, closing this now

[2016-04-07 16:55] #101 closed

[2016-04-07 16:56] sckott commented on #62
yeah, makes sense, can do

[2016-04-07 16:57] sckott commented on #92
@cboettig does this make sense to have a function for? or not? does something in this pkg already do this?

[2016-04-07 16:58] sckott commented on #98
We're looking into this with the Fishbase folks...

[2016-04-07 17:07] sckott commented on #101
I think I sorted all those relevant into 2.2.0 milestone, only one open is #62 which I can do soon

[2016-04-07 17:14] cboettig commented on #92
Sure, no harm in exporting if it is useful

[2016-04-07 17:25] sckott commented on #92
okay, for next milestone

[2016-04-08 00:21] amroco commented on #98
Awesome, thanks for this guys!

[2016-04-12 23:48] sckott opened #102 "Get country codes from database"
add `countrysub` and `countrysubref` tables to API

see https://github.com/ropensci/fishbaseapi/issues/96

[2016-04-12 23:58] #102 closed

[2016-04-29 14:18] tomjwebb opened #103 "Issue with null returns from maturity()"
Hi - been using the `maturity()` function to get length at maturity for a list of species (names validated for all). Problem is that if it fails for a single species in the list, the whole list fails. I have a workaround (see below) but wondered if it would be possible to return a null data frame if the function returns nothing? Here's an example:

Set up dummy species list

[code]

Try getting ma

[2016-04-29 15:18] tomjwebb commented on #103
Just to follow up on the above, this is my solution to turning the returned list into a single data frame, feels unnecessarily clumsy but it works…
``mat_dat <- mat_dat[which(lapply(mat_dat, class) != "try-error")]``
``mat_dat <- bind_rows(mat_dat)``
``null_df <- matrix(ncol = ncol(mat_dat), nrow = length(id_null_sp))``
``colnames(null_df) <- names(mat_dat)``
``null_df <- as.data.frame(null_df)``

[2016-04-29 18:03] sckott commented on #103
Thanks for your report Tom!

I'll have a look and see what's going on

[2016-04-29 18:13] cboettig commented on #103
@sckott thanks!  Looks like check_and_parse() doesn't handle the case of no content after getting a 400 error, so that should be fixed (not at computer & not sure I want to patch it from my phone though).

Not sure why the API isn't returning any content though, seems like it should give an empty json return instead of 404?

The discrepancy between the online source might be fixed when we update t

[2016-05-04 00:10] sckott commented on #103
@tomjwebb what version of `rfishbase` do you have?

[2016-05-04 02:25] sckott commented on #103
ran into problems loading the new fishbase database, getting in touch with them now...

[2016-05-05 14:56] tomjwebb commented on #103
@sckott Sorry, just seen your question, I'm running rfishbase 2.1.0.1 on R 3.2.3

[2016-05-06 04:46] sckott commented on #103
@tomjwebb there is a newer version - reinstall like `devtools::install_github("ropensci/rfishbase")` and try again - the errors should be fixed, but those taxa missing still aren't there - waiting to hear back on fishbase DB problems

[2016-05-06 08:19] tomjwebb commented on #103
@sckott Got it - works now, thanks! Trying to decide whether returning a single row of NAs (apart from sciname) for species returning no results might be more useful than just excluding them altogether from the returned tibble (see, I know the lingo!) - especially if I want to summarise the output to a single value per species, it would be useful to keep all species there. But that's maybe not app

[2016-05-31 21:21] sckott opened #104 "put NEWS bits in releases"
@cboettig   - to be consistent across ropensci pkgs https://github.com/ropensci/onboarding/blob/master/packaging_guide.md#-news

is it okay if we use the [releases tab](https://github.com/ropensci/rfishbase/releases) to include the associated NEWS items for each tag/version ?

[2016-05-31 21:22] cboettig commented on #104
:+1:

[2016-05-31 23:03] sckott commented on #104
great

[2016-07-21 21:14] cboettig opened #105 "list_fields should not be case sensitive"
[code]

[2016-07-27 20:56] amroco commented on #11
Hi there, having a bit of trouble with this function:

Warning: FishBase says that 'Fodiator acutus' can also be misapplied to other species
                    but is returning only the best match.
                    See synonyms('Fodiator acutus') for details

[1] "Fodiator acutus"

Error: could not find function "getPictures"

Any thoughts?
Thanks

[2016-09-16 03:09] irvanherz opened #106 "Please add search and match support"
Please add support to find partial word in field.
This gv me result,
https://fishbase.ropensci.org/comnames?ComName=Mujair
But this is not
https://fishbase.ropensci.org/comnames?ComName=jair

How about to make like this?
https://fishbase.ropensci.org/comnames?ComName=jair?match=contains

[2016-09-16 03:20] cboettig commented on #106
@irvanherz Thanks for the suggestion. @sckott This would be better implemented on the [fishbaseapi](https://github.com/ropensci/fishbaseapi) side, right?

[2016-09-16 05:11] sckott commented on #106
yes, if possible. we can do basic searching with just SQL by doing e.g., a `LIKE` query. indexing with Solr would be more powerful, but not sure we want to go there

[2016-09-16 18:09] sckott commented on #106
See https://github.com/ropensci/fishbaseapi/issues/59 in the `fishbaseapi` repo - we've already discussed this a bit. We do have the ability to search for fields, since there are so many with the `/listfields` route, but that doesn't address the question here.

I've only consumed data from Solr, not actually used Solr to index data, but I might try

[2016-09-19 20:44] sckott opened #107 "Add fxn for new recruitment route once in the API"
see https://github.com/ropensci/fishbaseapi/issues/100

[2016-09-20 14:35] sckott commented on #107
not doing after all

[2016-09-20 14:35] #107 closed

[2016-09-21 18:12] cboettig opened #108 "Add function for refrens table / endpoint ?"
Mentioned by a user, looks like we don't have this one yet. @sckott can you take a look when you get a chance?

[2016-09-21 18:13] sckott commented on #108
yeah, can do

[2016-09-21 21:52] sckott commented on #108
note to users: reinstall from github like `devtools::install_github("ropensci/rfishbase")`, then see `?referenences`

[2016-09-25 23:02] sckott opened #109 "Fxn for larvae endpoint"

[2016-09-25 23:05] #109 closed

[2016-10-12 20:49] cboettig opened #110 "Handle requests for limit > 5000"
If limit requested is > 5000, `rfishbase::endpoint()` should make multiple calls, increasing offset, so that all requested data is returned.  See https://github.com/ropensci/fishbaseapi/issues/103.

[2016-11-03 05:37] rlopes2 opened #112 "password expired"
After installing rfishbase without problems, I follow the instructions in README.md and get an error:

Warning messages:
1: In check_and_parse(resp) : Bad Request (HTTP 400).
2: Your password has expired. To log in you must change it using a client that supports expired passwords. for query https://fishbase.ropensci.org/comnames?ComName=trout&limit=1000&fields=SpecCode

I tried on Linux (R 3.3.2)

[2016-11-03 16:56] sckott commented on #112
thanks for the report @rlopes2 - we're looking into this

[2016-11-03 20:31] cboettig commented on #112
@rlopes2 Try now, should be fixed.

[2016-11-04 23:29] rlopes2 commented on #112
Works! Thank you for the quick fix.

[2016-11-04 23:29] #112 closed

[2016-12-07 01:01] sckott commented on #97
@amroco did you reopen because something is not working?

[2016-12-07 01:10] amroco commented on #97
Hi,
something has changed with the latitude and longitude query result using the same code as above,
instead of getting the single value for latN or latS such as for Astroscopus sexspinosus: 22°S - 41°S,

This query now returns a list of FAO areas, and those corresponding latitude limits when I query a list of species, so:
 AreaCode, SpecCode,  Status, FAO, NorthernLatitude, NorthernLatitudeNS, So

[2016-12-07 20:32] amroco commented on #97
So it looks like the distribution function is not providing these fields any more:
"NorthernLatitude",
"NorthernLatitudeNS",
"SouthernLatitude",
"SouthernLatitudeNS"

Apparently this stuff is in 'countrysubref':

list_fields("NorthernLatitude")
# A tibble: 2 × 2
     table_name        column_name
          <chr>              <chr>
1 countrysubref   NorthernLatitude
2 countrysubref NorthernLatitude

[2016-12-08 17:40] sckott commented on #97
you can just use `list_fields()` without passing in anything, I think

[2016-12-08 17:54] sckott commented on #97
@amroco  what version of `rfishbase` are you using? the below e.g,. works the same with current CRAN version of dev version on github:

[code]

is that not what you want? `countrysubref()` is another option e.g,

[code]

[2016-12-08 19:01] amroco commented on #97
Ok, this is where I installed from (as per the tutorial), and using distribution (what you have is what I am after), I am still getting:
`

# A tibble: 6 × 8
  AreaCode SpecCode  Status                      FAO NorthernLatitude NorthernLatitudeNS SouthernLatitude SouthernLatitudeNS
     <int>    <int>   <chr>                    <chr>            <int>              <chr>            <int>

[2016-12-08 20:00] sckott commented on #97
hmm, so we are getting the same thing then yes?

[2016-12-08 20:02] amroco commented on #97
yeah, the same thing : (

[2016-12-08 20:07] sckott commented on #97
does this mean something is wrong?

[2016-12-08 20:24] amroco commented on #97
Aw man.
I see what is going on here. The latitudinal limits I want are not under the distribution tab on the FishBase page, but under Environment/Climate/Range. Even though the code above did work for me some months ago.
Anyway for Astroscopus sexspinosus, the latitude limits are 22°S - 41°S.

So I need to find how to access the Environment/Climate/Range table.
Or looking for something which looks

[2016-12-08 20:58] sckott commented on #97
right, that lat long info is in Env...  we have little insight into how the database tables map to what's on the fishbase pages, so it's hard to say how we can get at that info. will have a look

--------

for list fields, try out

[code]

then parse from there to get what you need

[2016-12-08 21:06] sckott commented on #97
@cboettig do you happen to know where the data in this bit

<img width="798" alt="screen shot 2016-12-08 at 1 05 25 pm" src="https://cloud.githubusercontent.com/assets/577668/21027728/09e15c58-bd47-11e6-84d4-bbdf0efb5fb3.png">

of this page http://www.fishbase.org/summary/Astroscopus-sexspinosus.html

can be found in our API

[2016-12-09 19:49] cboettig commented on #97
@amroco @sckott Looks like it is from the *Stocks* Table, try:

[code]

Luckily in this example there is only one stock.  For some species there may be multiple stocks occurring in multiple geographically distinct regions, so it's not really clear what a single lat-long bounding box would mean in such case anyhow.

The atrociously inconsistent naming of latitude variables makes it hard to find the

[2016-12-13 18:13] amroco commented on #97
Thank you so much for your help guys!
Where there are multiple stocks I can filter the extremes and end up with what we need for the model, so this works.

[2016-12-13 18:13] #97 closed

[2016-12-13 18:25] sckott commented on #97
great!

[2017-01-22 22:07] CharmaneAshbrook opened #113 "Taxonomy data pull from rfishbase and sealifebase"
I am trying to pull the entire species data from rfishbase. I successfully pulled the 33,104 records from species_list, but have not been successful with species_names, common_names, synonyms, and sealifebase. My code for species_list is below. Do I need to do something different for these other data frames? --I am doing this because the group I work with regularly uses FAO and RAM Legacy data, as

[2017-01-23 05:41] cboettig commented on #113
Good question.  You probably want to use the `load_taxa()` function instead of species list; this will give a data.frame with more information than just species names, e.g.

[code]

For sealifebase, you need to specify the URL (needs to be `https`, not `http` like it says in the documentation for `load_taxa()`, @sckott can you push a quick fix to the docs there?)

[code]

(Do you really want all t

[2017-01-24 07:01] sckott commented on #113
sure, can do

[2017-01-27 03:04] CharmaneAshbrook commented on #113
Thanks much. I’ll give it a try!

[2017-01-27 03:18] CharmaneAshbrook commented on #113
Thank you!

[2017-01-27 03:18] #113 closed

[2017-02-09 15:34] noamross opened #114 "Links/text about supporting fishbase in documentation"
Given FishBase's need for donations (https://twitter.com/FishBaseProject/status/829648513021595649) it might be nice to put a link to the donations page in the README, the package-level documentation, vingettes, and possibly the package start-up message.

Self-assigning this if others are OK with it.  Will do something like "FishBase is maintained by XXX...you may support XXX by donating at URL"

[2017-02-09 18:47] cboettig commented on #114
Good idea. One concern I have is that this might further the already common confusion that this package and the API are directly supported by fishbase and not ropensci (as selfish as that is to mention).  The vignette  & readme could probably explain both issues though.  I'm not a fan of package startup messages, always feels like an ad asking me for money even when it isn't.

 I wonder if the API

[2017-03-06 17:24] sckott commented on #114
I can try a landing page for fishbase.ropensci.org - and we can iterate on that.

for the pkg docs, i can add something to readme and vignette in PR so we can discuss

[2017-03-06 21:12] sckott commented on #114
here's a first  mockup of a landing page

![screen shot 2017-03-06 at 1 10 57 pm](https://cloud.githubusercontent.com/assets/577668/23630042/628b4208-026e-11e7-9815-9c15c144903f.png)

instead of having docs included, just link to our slate docs https://ropensci.github.io/fishbaseapidocs/ - need to make sure they're up to date of course

thoughts?

[2017-03-06 21:41] cboettig commented on #114
:+1:

[2017-03-10 18:33] allimcg opened #115 "Access to "Estimates" Table"
Hi! I wasn't sure where to ask this, let me know if I should post somewhere else!

I've been trying to access estimated tropic levels. On a species home page in FishBase, trophic level information is listed at the very bottom in a section titled "Estimates of some properties based on models", but it appears this information comes from a variety of sources. Sometime the trophic leveldata comes from

[2017-03-10 22:28] sckott commented on #114
new landing page is up, a few things to tweak still https://github.com/ropensci/fishbaseapi/issues/108

[2017-03-10 22:35] sckott commented on #115
Hi @allimcg good question.

I believe the table at least in the database is `estimates` instead of `estimate`

We have this table in the database, but it's not exposed in the API right now.

I've opened an issue in our repo where we develop the API  - we'll have a look

[2017-03-15 17:49] rlrognstad opened #116 "problem getting correct sciname with SeaLifeBase"
I’ve been using the FishBase API with no problems, but have noticed some strange behavior with the scientific names when using SeaLifeBase.

As an example, when running the code from the vignette:
[code]

returns "Glyptocephalus cynoglossus" (not the correct genus or species). And I get the error
Warning message:
In load_taxa(server = server) :
  Did not recognize API, assuming it is fishbase

How

[2017-03-15 18:16] cboettig commented on #116
Thanks for the report, looks like a bug in `common_to_sci` in which it's passing the SeaLifeBase Species Code to the FishBase lookup table instead.  (King Crab is Limulus polyphemus, which is species code 26 in sealifebase, Glyptocephalus cynoglossus is species code 26 in FishBase.  Should be an easy fix, stand by.

[2017-03-15 18:50] #116 closed

[2017-03-16 00:15] rlrognstad commented on #116
Thanks, problem solved.

[2017-03-18 15:11] allimcg commented on #115
Thanks @sckott, I really appreciate the help!

[2017-03-20 18:56] sckott commented on #115
we're supposed to be getting a new version of the Fishbase database, so waiting on that 🕥

[2017-03-31 18:59] cboettig opened #117 "load_taxa(server = "https://fishbase.ropensci.org/sealifebase") not loading sealifebase"
load_taxa loads a cached copy by default, somehow seems like when loading from cache it's using fishbase regardless of the server argument.

[2017-03-31 19:19] cboettig opened #118 "load_taxa should not print warning message when looping over batches to reach limit"
When the number of results exceeds the limit (5000), we warn the user that they don't have all the data, which is great.

When limit > 5000, we use multiple API calls to return all the data, which is also great.  But in this case we should suppress the warning message that gets generated each time we make a call since otherwise they just scare the user.

[2017-04-06 18:55] flyingmobula opened #119 ""Length1" and "Length2" fields switched in Length-Length Table"
Hi, I was doing some length conversions from SL and FL to TL and I noticed the Length1 and Length2 fields are switched according to the equations provided in the fishbase manual

Length type (2) = a + b × Length type (1)
Length type (2) = b × Length type (1)

Thank you

[2017-04-18 02:05] osmarjluiz opened #120 "most functions returning error"
I was using rfishbase routinely when out the blue most functions started returning an error. Below are some examples of the errors I'm getting:

No encoding supplied: defaulting to UTF-8.
Error in if (parsed$count == 0) { : argument is of length zero
In addition: Warning message:
In check_and_parse(resp) : Internal Server Error (HTTP 500).

No encoding supplied: defaulting to UTF-8.
Error in if (p

[2017-04-18 02:34] sckott commented on #120
thanks for the issue. problems with the server - tracking it down now

[2017-04-18 14:42] sckott commented on #120
@osmarjluiz  should be working again now.

[2017-04-18 14:42] #120 closed

[2017-04-18 15:27] osmarjluiz commented on #120
Working as a charm. Thank you very much!

[2017-04-19 04:57] nylime commented on #117
Hi Carl, I am a newcomer to rfishbase (and Github), and have had this problem - even when I specify sealifebase using the sample code, it gets fish names from fishbase:

[1] "Glyptocephalus cynoglossus"

Have you been able to resolve this? Many thanks, Emily

[2017-04-19 16:46] cboettig commented on #117
Can you try using the version installed from GitHub?  This is a bug in the
cran version but should be fixed on the GitHub one

On Tue, Apr 18, 2017, 9:57 PM nylime <notifications@github.com> wrote:

--

http://carlboettiger.info

[2017-04-20 01:09] nylime commented on #117
Thanks Carl - have done so, and it seems to be working. Thanks for your quick reply.

[2017-04-20 03:16] cboettig commented on #117
Great, thanks for confirming.  The patched version should be on CRAN now.

[2017-04-20 03:16] #117 closed

[2017-04-24 20:51] #62 closed

[2017-04-24 20:51] #104 closed

[2017-05-12 12:59] PMassicotte opened #121 "Problem with validate_names()"
Hi there.

I am trying to use this library to extract information from my collected species. I think I found a bug when `validate_names()` is not finding the requested species. As you can see in the second example, the valid name is not found, hence it is repeating the last valid name. One solution would be to always return a vector of the same size as the requested list. If the species is not fou

[2017-05-16 16:55] cboettig commented on #121
@sckott can you take a look at this when you get a chance?

[2017-05-16 17:02] sckott commented on #121
@PMassicotte can you share your `sessionInfo()`

[2017-05-16 17:53] PMassicotte commented on #121
@sckott

[code]

This works
----------

[code]

This crashes
------------

[code]

[2017-05-18 22:20] sckott commented on #121
@PMassicotte can you reinstall and try again. let me know if it works for you now.

[2017-05-19 14:24] PMassicotte commented on #121
Looks like the problem is fixed.

[code]

This works
----------

[code]

This works now
--------------

[code]

Thank you!

[2017-05-19 17:33] sckott commented on #121
great, glad it works 👍

[2017-05-19 17:33] #121 closed

[2017-06-03 02:38] szhan opened #122 "Genetics?"
Hi, I am trying to access the fields in the Genetics pages. I do not see support for it at the moment. Is there a way to write a function for it? Please let me know. Thanks!

[2017-06-08 14:29] emostarda opened #123 "faoareas function error"
Hello,
I tried to extract FAO areas info for all Perciformes:

[code]

I realize that record 63845 (nr 1337) is the problem. so that `> newdata <- faoareas(fish[1:1336])` is working

the next batch works if it starts at `1338 > newdata <- faoareas(fish[1338:2000])` until the next error..

Any idea why?

[2017-06-08 16:37] sckott commented on #123
Will have a look, thanks @emostarda

[2017-06-08 20:19] sckott commented on #123
was able to reproduce the error - looking into why it happens

[2017-06-14 22:47] #123 closed

[2017-06-14 22:47] sckott commented on #123
@emostarda okay, reinstall `devtools::install_github("ropensci/rfishbase")` and try again,

let me know if it works now

[2017-06-14 22:53] sckott commented on #122
hi @szhan sorry about the delay

can you point to an example page and example data you want?

there is a genetics table, so we may be able to expose that

[2017-06-14 22:58] szhan commented on #122
Hi @sckott !

No problem. Thank you for your reply.

This is an example:
http://www.fishbase.org/Genetics/FishGeneticsList.php?ID=243&GenusName=Oncorhynchus&SpeciesName=nerka

That page provides locality, country, chromosome number, and genetic marker.

[2017-06-14 22:59] sckott commented on #119
hi @flyingmobula sorry about the delay.

What exactly are you talking about?  Is this on the fishbase website, or this package's documentation? or something else?

[2017-06-14 23:00] sckott commented on #115
we have the new version now - should be up soon

[2017-06-14 23:00] sckott commented on #114
anything else to do here @cboettig @noamross ?

[2017-06-14 23:02] sckott commented on #108
think this is sorted

[2017-06-14 23:02] #108 closed

[2017-06-14 23:09] sckott commented on #105
thnk we need to do this on the API side

[2017-06-14 23:22] sckott commented on #103
seems fixed now, reopen if it's not really fixed

[2017-06-14 23:22] #103 closed

[2017-06-14 23:27] sckott commented on #98
@amroco are you still have problems with this, right now I'm getting .eg,.

[code]

[2017-06-14 23:29] sckott commented on #90
note: make column matching case insensitive for requesting fields back if possible

[2017-06-14 23:51] sckott commented on #92
closing, if someone wants this we can do it later

[2017-06-14 23:51] #92 closed

[2017-06-15 00:22] sckott commented on #122
@szhan try again after reinstalling `devtools::install_github("ropensci/rfishbase")` - see `?genetics`

[2017-06-15 07:32] emostarda commented on #123
Thanks sckott, it's better now as it doesn't crash, it just excludes a number of rows:

Warning messages:
1: In check_and_parse(resp) : Bad Request (HTTP 400).
2: no results found for query https://fishbase.ropensci.org/faoareas?SpecCode=63598&limit=500&fields=AreaCode%2CSpecCode%2CStatus
3: In check_and_parse(resp) : Bad Request (HTTP 400).
4: no results found for query https://fishbase.ropensci.

[2017-06-15 15:01] flyingmobula commented on #119
It's okay, thank you for the response. Sorry for not being clear, this issue occurs when I use the rfishbase package and use the length_length() function to retrieve the a and b conversion factors and length1 and length2 fields. For example, I when follow the conversion equations in the fishbase manual and convert from standard length (length1) to total length (length2) using the corresponding a a

[2017-06-15 15:36] sckott commented on #119
thanks for clarifying.

in `rfishbase` we only fetch the data from fishbase for you. i don't know anything about the equations.

any thoughts @cboettig ?

[2017-06-15 16:03] cboettig commented on #119
@flyingmobula Good question, I would definitely suggest following up with the fishbase team directly on that, I suppose it's possible they have these switched in the database.

Have you tried comparing the numbers you're getting here to those shown on the equivalent tables in Fishbase.org?

[2017-06-17 11:58] flyingmobula commented on #119
Hi yes, I've checked the length length table on fishbase.org for specific species under where it says more information and the numbers are correct there, except the fields are given as unknown length and known length rather than as length1 and length2. Perhaps an error occurred in renaming the fields?

If I should contact the fishbase team directly, what would be the best way to contact them? Than

[2017-06-17 16:29] cboettig commented on #119
http://www.fishbase.us/mail/MailForm.php is probably the appropriate choice.

[2017-06-17 23:01] szhan commented on #122
@sckott Thanks! It works. BTW, is there a description of the data fields somewhere (although most are pretty self-explanatory)? It seems that there are more fields than displayed in the FishBase website.

[2017-06-19 17:06] sckott commented on #122
No, we don't have any explanation of the data fields.

@cboettig did we ever get a sense from Fishbase folks if they have explanations of fields in each sql table?

[2017-06-19 17:39] cboettig commented on #122
Not really. There's http://www.fishbase.org/manual/contents.htm , which is a somewhat loose description of some of the tables, but not a precise documentation of individuals fields (and not always up-to-date to match those tables either).

We attempted wrapping some of this information into our `docs` endpoint for each table, e.g. https://fishbase.ropensci.org/docs/genetics/ and https://fishbase.r

[2017-06-20 14:38] flyingmobula commented on #119
Thank you for the reply, I will try contacting them.

[2017-06-20 16:39] Dengaloo commented on #122
Hi all
I think you will not need to use all data fields because some of those are for internal use only. So better ask us which fields you are interested in and why.
Thanks
Deng

Sent from my iPad

On Jun 19, 2017, at 10:39, Carl Boettiger <notifications@github.com> wrote:

Not really. There's http://www.fishbase.org/manual/contents.htm , which is a somewhat loose description of some of the tables

[2017-06-20 16:40] Dengaloo commented on #119
Hi all
Apologies, my mail system does not copy the thread. What was the concern here?Thanks
Deng

Sent from my iPad

On Jun 20, 2017, at 07:38, flyingmobula <notifications@github.com> wrote:

Thank you for the reply, I will try contacting them.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-25 19:02] jradinger opened #124 "Common_names() does not work for specific species"
It seems that common_names() does not work for all species. E.g.
`common_names(species_list=species_list()[6],Language="English")` does not work with `rfishbase_2.1.2`

System:
[code]

This causes also an error when querying mulitple species e.g. `common_names(species_list=species_list()[1:50],Language="English")`

BTW the manual for `common_names()` contains an example using the depreceated `comm

[2017-07-05 12:28] MarineKlausi opened #125 "IUCN Redist status?"
Thank you for providing this package!
I looked at the documentation and the available fields, but there does not seem to be a way to access the IUCN red list status, correct?
Thanks,
Klaus

[2017-07-05 19:34] cboettig commented on #125
We really recommend the redlist API for that, the data is also somewhat more up-to-date.  See https://cran.r-project.org/web/packages/rredlist/index.html

@sckott can comment further when he's back.

[2017-07-05 22:26] MarineKlausi commented on #125
Thank you!

[2017-07-10 19:40] sckott commented on #125
@MarineKlausi try

[code]

[2017-07-12 00:48] tjquimpo opened #126 "How do I get the taxonomic classification of the fish species?"
Hello,

I loaded my targeted species using the species_list and species functions. However, I could not find a function that extracted the higher taxonomic classifications (e.g. orders, class, etc.). I read in Boettiger et al. (2012) that you can use the fish_names function; but, in the current version of rfishbase, this function is no longer available. Are there any similar function(s) wherein I

[2017-07-12 03:51] cboettig commented on #126
Check out all the columns of the data frame returned `rfishbase::load_taxa()`, that should have all the taxonomic ranks (according to FishBase taxonomy, which may differ from other authorities), for all species in FishBase.

Apologies, the 2012 publication is now quite out of date relative to the current version of the package.

HTH,

Carl

[2017-07-12 18:08] sckott commented on #126
also added a `taxonomy()` fxn - reinstall to get it - thoughts on it @cboettig ? keep or get rid of? changes?

[2017-07-12 18:08] sckott commented on #126
see also #92

[2017-07-12 20:41] cboettig commented on #126
Nice, thanks @sckott.  Can you add an example of this in the readme.rmd too?

[2017-07-12 20:45] sckott commented on #126
sure thing

[2017-07-12 21:01] sckott commented on #126
One thing about the `/taxonomy` route is that we set it up so that it only accepts the query parameters genus and species - so we can't do the thing of passing in a species list like in other fxns

so users have to do lapply or so, like

[code]

is that acceptable? or too cumbersome?

[2017-07-12 21:12] sckott commented on #126
i guess one option is to do allow passing in a list of genus+epithet names, and internally break names into genus, species, and map over each name

[2017-07-12 21:50] cboettig commented on #126
Good questions.  Yeah, obviously a consistent query interface would be nice, though I suppose if necessary that could be done merely on the R level, so the R user could pass the same species_list.

Having a way to return the full taxonomy table, a la `load_taxa()` is probably helpful though, since I think a common use case for the taxonomy table is actually to start with a larger group, e.g. `Fami

[2017-07-12 23:16] #125 closed

[2017-07-12 23:20] cboettig commented on #122
Looks like the title issue was closed by 4003c95

[2017-07-12 23:20] #122 closed

[2017-07-20 21:34] cboettig commented on #49
@diana-ly Can you create an onboarding review SVG for this package?  (Review was in this issue here, prior to those all being on the onboarding repo).  Thanks!

[2017-07-20 21:38] karthik commented on #49
@cboettig There is nothing to create. Once Noam or someone else open an issue and adds the right tags, the badge will get automatically created.

[2017-07-20 21:40] cboettig commented on #49
@karthik I don't follow... there's no issue to open.  The package went through review long ago and the review is posted right here in this issue, since that's how we were doing it at the time.

[2017-07-20 22:18] karthik commented on #49
If there is no issue on the onboarding repo that simply links to this, there is no way for the badge bot to know. The badge bot does not crawl issues of every repo.

So, you could open an issue in onboarding
say "Full review at this link"
Add `6/Approved` and `package` as tags.

Then you'll have a badge that you can add to your README.

[2017-07-20 22:19] karthik commented on #49
I see that Noam already did that

[2017-07-22 02:00] melissaorobko opened #127 "validate_names() is erroneously returning "Oreochromis" names"
Hi there,

I have been validating the names of tropical marine fishes in a couple datasets when I noticed that `validate_names()` has weird behaviour for any string that has only one or no words, e.g.:
[code]
Clearly, `"Oreochromis niloticus"   "Oreochromis mossambicus"` should not be returned - it should be `NULL`.

The same behaviour persists when passing only one name or multiple names to the f

[2017-08-01 16:46] cboettig opened #129 "connect with FishLife for life history parameters?"
Seems like obtaining life-history parameters is a common `rfishbase` use case.  Might be good to point users to @James-Thorson 's [FishLife](https://github.com/James-Thorson/FishLife) (and maybe other packages as well) as a point of comparison to the FishBase numbers?

Would it be worthwhile getting a sense of how significant the discrepancies are between the two, and maybe discussing with FishBas

[2017-08-01 16:50] James-Thorson commented on #129
I previously found the estimates of life-history parameters from FishBase to be unreliable, but the data from FishBase to be consistent with other data sources (see, http://onlinelibrary.wiley.com/doi/10.1890/12-1855.1/full).  Hence my interest in developing `FishLife`.

I definitely plan to email Rainer Froese and Daniel Pauly to discuss `FishLife` with them and whether its worth integrating its

[2017-08-14 09:14] shaunpwilkinson opened #130 "length_weight function returning incomplete tables"
Hi there,
I'm using the `length_weight` function to find the _a_ and _b_ parameters for various fish species, but finding that the output tables don't contain all of the entries that appear if I manually navigate to the length-weight table through the fishbase.org user interface. Here's an example:

    Balistapus <- length_weight("Balistapus undulatus")

This returns a two-row table, with PopLWRe

[2017-10-04 00:02] fbsut1 opened #131 "No results or species not found for reproduction function"
Hi, I am trying to gather reproductive info from FishBase. A number of species have Reproduction pages on fishbase.org but the data cannot be called using rfishbase, either because no results could be found (e.g. species [Squalus crassispinus](http://www.fishbase.org/Reproduction/FishReproSummary.php?ID=63433&GenusName=Squalus&SpeciesName=crassispinus&fc=13&stockcode=53546), Allips concolor, Ahlia

[2017-10-04 01:08] sckott commented on #131
thanks for the report @fbsut1

it's possible that the fishbase site is running on a newer version of the underlying data than we are running on. will try to check on that soon

[2017-10-04 14:14] miriamgrace opened #132 "Interpreting data returned by trait calls, e.g. fecundity?"
Hi, I've just started using the rfishbase package and am not sure how to interpret the column names that are returned, e.g. when I query on fecundity:

[code]
which returns a large number of fields such as FecundityRef and RelFecundityMin.

Could anyone point me to an explanation of all of these fields? Thanks!

[2017-10-07 01:01] sckott commented on #132
thanks for your question @miriamgrace

have you seen the `docs` function?

try e.g,. `rfishbase::docs('fecundity')`

[2017-10-18 19:00] fbsut1 commented on #131
Hi Scott, I'm not sure that the problem is what you mentioned above (i.e. fishbase site running on newer version), because some of the species and data entries that cannot be found by rfishbase are 10+ years old, and there are more recent entries that are successfully accessed by rfishbase. Anyway, let me know if you come up with anything. Thanks a bunch.

[2017-10-19 18:39] sckott commented on #131
okay, thanks

[2017-10-25 11:34] dbarneche opened #133 "Increasing data accessibility"
Hello all,

I was wondering if the existing package API offers access to all information contained within FishBase.

For example, I couldn't access the [Relative Gill Area Studies](http://www.fishbase.org/Topic/List.php?group=30), nor the trophic level (TL) and aspect ratio (AR) data. Couldn't find that info after using `httr::content(heartbeat())` either. These are important traits that a lot of

[2017-10-26 04:16] sckott commented on #133
👋 @dbarneche sorry about delay.  We do not expose all tables in the database dump we get from Fishbase. having a look at those variables

[2017-10-26 04:27] sckott commented on #133
if you do

[code]

you can see

[code]

Then you can do

`curl 'https://fishbase.ropensci.org/matrix?SpecCode=268' | jq '.data[].trophic_level'`

Found aspect ratio with

`curl 'https://fishbase.ropensci.org/morphmet?SpecCode=268' | jq '.data[].AspectRatio'`

[2017-10-26 04:38] cboettig commented on #133
@sckott love the examples with `jq`, but this suggests maybe we should improve how `listfields` R function is returning this data to make it easier to discover?

[2017-10-26 15:34] sckott commented on #133
using the package

[code]

should we improve on that?

[2017-10-27 22:50] dbarneche commented on #133
Hi @sckott , thanks very much for this. Is there a way though to extract a full table with either TL and Aspect ratio for all species at once? As in the oxygen table `rfishbase::oxygen()`?

[2017-10-31 17:30] sckott commented on #133
@dbarneche I think what you are after is the `fields` parameter?  e.g,   `rfishbase::swimming(fields="AspectRatio", limit = 500)`

note that `matrix` route on the API is not exposed as  a function in `rfishbase` - we may consider adding it as a function

[2017-11-01 23:32] dbarneche commented on #133
Hi @sckott, thanks very much for your reply.

I guess that's almost there. The only catch, though, is that for some species there are multiple measurements of aspect ratio (e.g. for Abramis brama [here](http://www.fishbase.se/physiology/MorphMetList.php?ID=268&GenusName=Abramis&SpeciesName=brama)), and this is not reflected in `rfishbase::swimming(species = 'Abramis brama', fields="AspectRatio", l

[2017-11-03 17:36] sckott commented on #133
It may be a database version issue. hoping to get updated database version very soon, early next week hopefully

[2017-11-03 20:21] dbarneche commented on #133
Awesome, thanks @sckott

[2017-11-15 19:46] sckott opened #134 "Add support/parameter for toggling database version"
now implemented in the API, add parameter for this.

@cboettig any considerations here?

[2017-11-16 17:57] sckott commented on #131
@fbsut1 we now support multiple (=3) versions of fishbase database in the API https://github.com/ropensci/fishbaseapi#database-version but we still need to get support here for toggling versions, see https://github.com/ropensci/rfishbase/issues/134, coming soon - looks like this might fix your problem

[2017-11-29 22:18] dbarneche commented on #133
Hi @sckott, is the new database version already available through the package? I tried the commands above, but still got the same results.

[2017-11-29 22:29] sckott commented on #133
@dbarneche yes, we are serving the most up to date data by default now. The up to date data is from March 2017. you can see database versions at https://fishbase.ropensci.org/versions/ We are waiting on a new database dump from Fishbase that we hope to get soon. we'll add ability to toggle between DB versions to this pkg soon

what about `rfishbase::morphometrics(species = 'Abramis brama', limit =

[2017-11-29 22:33] dbarneche commented on #133
Perfect! That works! Thanks very much!

[2017-11-29 22:33] #133 closed

[2017-12-08 21:51] wraymond commented on #130
Hello,
I am having the same issue. When I run my whole list I get a and b values for some species, but after spot checking a few species they have a b values on fish base but are not getting imported. Example:
`length_weight("Pholis laeta")`

Thanks!

[2017-12-08 22:08] sckott commented on #130
@shaunpwilkinson sorry for the delay in response on this 😞 this does work now - we just updated to a March version of the fishbase database, so that's I assume the difference

[code]

[2017-12-08 22:09] sckott commented on #130
@wraymond can you show the page on Fishbase website that shows the data you should be seeing here?

[2017-12-08 22:25] sckott commented on #127
@melissaorobko so sorry about the delay on this 😞

I confirm that I can replicate the behavior.

Internally within `validate_names` we use `synonymns` function https://github.com/ropensci/rfishbase/blob/f3eccc60e832b36f3a10aaae71b9f574bf87b004/R/synonyms.R#L67 and within `synonyms`  we parse the input name  https://github.com/ropensci/rfishbase/blob/f3eccc60e832b36f3a10aaae71b9f574bf87b004/R/synon

[2017-12-08 23:59] wraymond commented on #130
Yeah. http://www.fishbase.org/summary/Pholis-laeta.html. a and b values are under the "Estimates of some properties based on models" heading

[2017-12-09 00:26] sckott commented on #124
Sorry about delay on this @jradinger
having a look

[2017-12-09 00:36] sckott commented on #124
- [ ] `TW the manual for common_names() contains an example using the depreceated commonnames()`

thanks, fixing now

[2017-12-09 00:40] #124 closed

[2017-12-09 00:41] sckott commented on #124
@jradinger fixed, try again after reinstalling `devtools::install_github("ropensci/rfishbase")`

[2017-12-09 01:46] wraymond commented on #124
My initial attempt produced the same result. Maybe I did something wrong though. I will try again.

[2017-12-09 04:19] sckott commented on #124
@wraymond what did you get?

[2017-12-11 16:15] wraymond commented on #124
My apologies, I thought I was responding to another issue.

[2017-12-11 16:24] sckott commented on #124
ok

[2017-12-12 21:01] sckott commented on #130
@wraymond you can see with `Balistapus Ωundulatus` http://www.fishbase.org/summary/Balistapus-undulatus.html that it has a link for a page called `Length-weight`

<img width="471" alt="screen shot 2017-12-12 at 3 59 07 pm" src="https://user-images.githubusercontent.com/577668/33908192-9628f65e-df55-11e7-9634-363ed5e00d8c.png">

that goes here http://www.fishbase.org/popdyn/LWRelationshipList.php?I

[2017-12-12 21:35] wraymond commented on #130
Ah I see. It makes sense that such a page is required for automated import. So as of now there is no way to import the values in the "Estimates of some properties based on models" fields?

Thanks

[2017-12-13 02:48] sckott commented on #130
we don't scrape their website. so it's a bit misleading perhaps to go from looking at their website to this R package. This package interacts with a dump of the database behind the Fishbase website. It seems that text you want is not in the database, at least not in that database table.

[2017-12-23 18:37] cboettig commented on #134
Looks great 👏

[2018-01-06 17:05] sckott opened #135 "Use case: aggregate stats by country"
via https://twitter.com/chris_harrod/status/949472174993235968

and

User pointed to http://www.fishbase.org/Country/CountryChecklist.php?showAll=yes&what=list&trpp=50&c_code=894&cpresence=present&sortby=status&vhabitat=fresh

Seems we do have a table in the SQL DB called `checklist` - but haven't explored it yet to see if there's stats in it.

We could explore how it could be done client side if

[2018-04-10 20:42] fishkey opened #136 "Using species_list to generate a list of species from multiple families"
I have a list of 290 families that I am trying to use to generate a list of the respective species within them. I have been using species_list(Family = c('Family1','Family2','Family3')) to attempt this, but I get the following error. Why isn't this working? It seems straight forward enough.

Warning message:
In Family == c("Chlamydoselachidae", "Hexanchidae", "Heptranchidae",  :
  longer object le

[2018-04-10 20:48] sckott commented on #136
please include your R session info, thanks

[2018-04-10 20:49] fishkey commented on #136
R version 3.4.4 (2018-03-15) -- "Someone to Lean On"
Copyright (C) 2018 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

[2018-04-10 20:57] fishkey commented on #136
It seems to work when I include 2 families, but anything more than 3 and it blows up.

[2018-04-10 22:15] sckott commented on #136
@cboettig it's not clear to me if this https://github.com/ropensci/rfishbase/blob/master/R/species_list.R#L69-L82 is supposed to handle more than 1 name as input, or only 1 at a time? It's looking to me like it is supposed to only handle 1 at a time. if so should we document and stop on names > length == 1 ?

[2018-04-11 14:09] fishkey commented on #136
Okay, so essentially I will need to do a separate species_list for each of the 290 families I need species lists from?

[2018-04-11 21:05] sckott commented on #136
you might have to, but i'm trying to figure out from my colleague (@cboettig ) what a function does that he wrote

[2018-04-12 03:40] cboettig commented on #136
@fishkey yeah, looks like that function isn't gracefully handling the fact that it's not finding any species in your third family.

You can see this by doing the vectorization 'manually', i.e.

[code]

[code]

  Meanwhile, it's easy enough to work around using the fill taxa table and a bit of standard `dplyr`:

[code]

[2018-04-12 17:29] fishkey commented on #136
@sckott @cboettig thanks very much for your help!! the dplyr, etc. method worked very well. i dug more into why fishbase wasn't returning species for some families and there seem to be four things going on here, one of which you might want to hear about.

(1) spelling changes between fossil record entries and fishbase (generally, changing from 'didae' to 'dae')
(2) species from family from fossil

[2018-04-12 18:11] cboettig commented on #136
@fishkey thanks for the feedback!  Re (4), it's possible that's a recent update to FishBase.org that we don't yet have in our database.  @sckott thoughts?

[2018-04-12 18:12] sckott commented on #136
(i assume you didn't mean to close @cboettig  )

[2018-04-12 18:14] cboettig commented on #136
well, I think we've resolved the title issue(?) but we should let Matt close it out to confirm.

database syncing is probably a separate issue, yes?

[2018-04-12 18:15] #136 closed

[2018-04-12 18:20] sckott commented on #136
RE 4: our last Fishbase database update is from December 2017 https://fishbase.ropensci.org/versions/ - so entirely possible that it's a problem of newer data that we don't have yet.

we've done 1 year apart between most updates. although in an ideal world, we'd have updates much more often 😏

[2018-04-12 18:29] Dengaloo commented on #136
Hi Scott
You are not that far off actually. Our latest update was March 2018. That was the one that followed December 2017. We are at a transition phase, and we can only assure updates on a three month basis. Sorry, please contact us again once we are on our way more smoothly sometime in June.
FishBase and SeaLifeBase are changing hands, we will now be under Quantitative Aquatics, Inc. And as you

[2018-04-12 18:49] sckott commented on #136
thanks for the update @Dengaloo - Is it possible to get the March 2018 update? Or wait until June?

[2018-04-12 19:42] Dengaloo commented on #136
Hi Scott
Might be prudent to wait until June since nobody will be free to do the copy for rfishase right now.
Thanks
Deng

Sent from Mail for Windows 10

From: Scott Chamberlain
Sent: April 12, 2018 11:49 AM
To: ropensci/rfishbase
Cc: Dengaloo; Mention
Subject: Re: [ropensci/rfishbase] Using species_list to generate a list ofspecies from multiple families (#136)

thanks for the update @Dengaloo -

[2018-04-12 19:48] sckott commented on #136
Okay, sounds good.

[2018-06-04 08:19] playmobilmeister opened #137 "Novice question regarding usage of validate.names and species functions"
Hi, I'm new to R, programming, FB and this package and would appreciate your help with interpreting initial results. Any help with achieving my data cleaning / editing goals will also be much appreciated.

I'm trying to understand results from both validate.names and species functions. I have tried to read the warnings with warnings() with only moderate success.
I have a list of **343** unique Fis

[2018-06-04 15:30] cboettig commented on #137
@playmobilmeister Thanks for the careful write-up of the issue! (Not all novices give us this nice detail so you're off to a great start!) From a quick look over I think there could be several issues at play here.

- First, just to be clear, the original list of 343 scientific names came from elsewhere in your research and not fishbase, correct?  This can be at least one source of the variation --

[2018-06-05 07:37] playmobilmeister commented on #137
thanks for the tips !
That's correct, the 343  sci. names came from another research, not from FB.
I will try to get FB codes, but i don't think i will get one.

 investigating the unique names vector more closely, i found out:

- there is indeed a number of observations recognized only to the Genus level ("sp" is the second word)

-  2 observations have actually 4 words, but none have 3. those 2

[2018-06-05 16:55] cboettig commented on #137
@playmobilmeister Yes!

- For the 323 rows you are getting back from the `validate_names`, you should be all set, since that function should give you the names that fishbase knows.  So it's just the remaining 20 names you'll need to clean up more manually.  Searching for them on FB website is probably the best way to start.

[2018-06-05 18:24] #137 closed

[2018-06-11 19:28] KevCaz opened #138 "Cannot pass `config` argument to `httr::GET()` in `species()`"
Hello there,

I was unable to change the timeout in `species()`. In the documentation I read:

So I thought I could use `config` just as I would for GET but when I tried, it did not work:

[code]

What am I missing?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Anyway, many thanks for this package :smile: !

Kev

[2018-06-11 19:55] sckott commented on #138
looks like timeout is being passed, not sure why it's giving a timeout of 10000 milliseconds. - seems like its timing out not in response to your `httr::timeout()` call but in response to something else?

[2018-06-11 19:59] sckott commented on #138
I think you were using the CRAN version, but anyway I had the `...` commented out here in the dev version, and so just removed that comment, and so should work again with dev version. can install dev version if you like `remotes::install_github("ropensci/rfishbase")` - this is what I get, having to set a smaller timeout value to get it to timeout:

[code]

[2018-06-11 20:04] KevCaz commented on #138
Thanks! I should have tried the dev version before posting this, I'll give it a try, I keep you posted!

[2018-06-11 20:08] KevCaz commented on #138
It works with the `dev` version, many thanks @sckott, I let you close this issue!

[2018-06-11 20:11] KevCaz commented on #138
Oh wait! Looks like there is smthg when you use a value greater than 10!

[code]

[2018-06-11 20:23] sckott commented on #138
glad it works. Not sure about the value > 10. There might be a max value for timeout, haven't been able to find any docs on that.

[2018-06-11 20:43] KevCaz commented on #138
I guess it is related to this https://github.com/jeroen/curl/issues/72

For instance:

[code]

Also works for value > 10 (10 is actually the default CONNECTTIMEOUT).
But I am not sure how to get work with `GET()`

Too bad we cannot used `options(timeout=XXXX)`

[2018-06-11 21:42] sckott commented on #138
you can pass curl options i think to httr http methods like e.g. `GET("http://httpbin.org/get", config(timeout_ms = 1))`

[2018-06-11 23:05] KevCaz commented on #138
Same issue with `config(timeout_ms)`.

I had a look at the code in `httr` and found out how to build my own `handle` (still not sure what it is), and it worked:

[code]

Many thanks for your time @sckott !

[2018-06-11 23:17] sckott commented on #138
nice, handle is a curl handle, a C pointer to where it is on disk.  handles are dealt with internally unless you want to mess with them yourself as you did above. if you use the `curl` R package  (which httr is built on) you have to construct handles

[2018-06-11 23:50] KevCaz commented on #138
Thanks for this piece of information! Very helpful, as usual :smile: !

[2018-06-12 12:51] eric-pedersen commented on #71
Not sure if this is the right place for this, but it looks like the Rfishbase server has gone down again; I'm getting the error message "Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached: Operation timed out after 10000 milliseconds with 0 out of 0 bytes received"

I'm also not able to open fishbase.ropensci.org

[2018-06-12 14:54] sckott commented on #71
we're working on it, as always, our server provider is down again. will get it back up as soon as we can get back in to the server

[2018-06-12 15:46] miriamgrace opened #139 "Error in retrieving info with validate_names - API down?"
Hello,

I'm having problems with the validate_names function:
[code]
leads to the error:
[code]
I's be grateful for info on this. Thanks!

[2018-06-12 16:41] sckott commented on #139
sorry @miriamgrace the server is down again. we are using a non standard server from the university we're at and they have quite a lot of downtime unfortunately, but it is much cheaper than amazon/etc., so there's tradeoffs. we're still working on getting it back up

[2018-06-13 21:13] MireiaValle commented on #139
Hi there! How is it going? How long might take since you can fix this issue with the server?
Looking forward to continuing gathering some data!
Thank you, best wishes and good luck!

[2018-06-14 17:14] #139 closed

[2018-06-14 17:15] sckott commented on #71
@eric-pedersen back up

[2018-06-15 09:46] tjquimpo opened #140 "Command to access brain weight data from fishbase"
Dear administrators,

I wonder if there is a way to access the brain weight data in fishbase? Based on the reference by Boettiger and colleagues (2012, 2017), there is currently no means to do that.

Many thanks,
Tim

[2018-06-16 00:18] sckott commented on #140
can you show where you see it in the Fishbase website?

[2018-06-16 06:09] tjquimpo commented on #140
On the species page (e.g. after searching for let's say the daisy parrotfish), it is located in the more information section as 'brains'.

[2018-06-19 17:21] reginaldo-re opened #141 "How to get the environment of a specific species ?"
I am using rfishbase  * 2.1.2.
I would like to get the environment of a specific species, for example,  Sternarchorhynchus jaimei, (http://www.fishbase.se/summary/65504) ->  Freshwater; demersal.

I tried,  without success:
species_info("Sternarchorhynchus jaimei"), returned Error: could not find function "species_info"
ecology("Sternarchorhynchus jaimei"), returned # A tibble: 0 x 0
stocks("Stern

[2018-06-19 17:27] cboettig commented on #141
Thanks for the issue.  A few quick things to help troubleshoot:

- Note that the function for the `species` table is `species()`, there's no function called `species_info`

If you look on the Fishbase page you link: http://www.fishbase.se/summary/65504, you'll notice that under the heading "More information", most of the tables are greyed-out (no link), including the "Ecology" table.  This is why`

[2018-06-19 17:48] reginaldo-re commented on #141
Is it necessary to look to the fields Fresh or Saltwater? What means these two fields?

The field DemersPelag is ok.

thanks,  cboettig, RR.

[2018-06-19 18:05] cboettig commented on #141
I believe fishbase uses `-1` to indicate logical TRUE, and 0 as FALSE.  the column called "Comments" often includes a more detailed description of environment as well, useful for humans but not so readable by computers.  (i.e. it observes that "Sea trout" individuals "spend 1 to 5 years in fresh water and 6 months to 5 years in salt water", but also that they can be eaten "microwaved or baked" ...

[2018-06-19 18:05] #141 closed

[2018-06-21 17:50] cboettig commented on #140
@tjquimpo I have an experimental version of this now on the `3.0` branch.  Can you try:

[code]

[2018-07-04 20:46] reginaldo-re opened #143 "Problem to get species details of Characidium litorale"
I am using rfishbase  * 2.1.2   2017-04-19 CRAN (R 3.2.3).

When I find the species called Characidium litorale using directly the API, data is returned without problems:
curl "https://fishbase.org/species?genus=Characidium&species=litorale"

When I find synonyms of the species, data is returned without problems again.
synonyms("Characidium litorale")

However, when I try to validate the name of t

[2018-07-04 22:02] cboettig commented on #135
Great question.  The necessary data is already in the country table.  Computing this for all species should be easy in the `3.0` branch, e.g.

[code]

Note that the `country` table has other variables you could also take into account (i.e. CurrentPresence, or Status (introduced, native, etc)

[2018-07-04 22:03] cboettig commented on #110
resolved in 3.0 branch

[2018-07-04 22:03] #110 closed

[2018-07-04 22:18] cboettig commented on #114
looks like we've done this, might be worth revisiting later

[2018-07-04 22:18] #114 closed

[2018-07-04 22:20] #56 closed

[2018-07-04 23:07] cboettig commented on #105
In `3.0`, functions with no arguments return the full table.  Therefore one can use any standard approach, e.g. with regex:

[code]

[2018-07-04 23:19] cboettig commented on #131
Hmm, seems all five of these species match fine in the `3.0` version.

[code]

not sure what is up on the current (2.1) version.

[2018-07-05 18:06] reginaldo-re commented on #143
Yes, @cboettig, in this version it is ok.

Thank you, very much, RR.

[2018-07-05 18:40] cboettig commented on #143
@reginaldo-re thanks for the report.  Can you re-install `3.0` and try now?

[2018-07-05 18:42] cboettig commented on #143
It may have more columns than you want now, but hopefully intuitive how to subset, e.g. you should see something like:

[code]

[2018-07-05 18:51] cboettig commented on #143
@reginaldo-re Thanks for testing! `3.0` is clearly very new, so these bug reports are much appreciated. We hope to have it ready for prime time (i.e. merge onto master and then submit to CRAN) soon.

[2018-07-05 18:57] reginaldo-re commented on #143
RFishbase 3.0 is really faster. You are doing a good job.
Again, I am grateful for your help, @cboettig.

[2018-07-16 12:54] reginaldo-re opened #144 "Problem to validate "Abramites ternetzi""
I am using rfishbase 3.0 and I found a problem validating "Abramites ternetzi".

* validate_names("Abramites ternetzi") returns character(0).

* curl "https://fishbase.ropensci.org/species?genus=Abramites&species=ternetzi" returns  {"count":0,"returned":0,"data":null,"error":{"message":"no results found"}}

The results is ok, but when synonyms is called:
* synonyms("Abramites ternetzi") returns Ab

[2018-07-16 13:07] reginaldo-re commented on #144
I think the solution is something like this:

validate_names <- function(species_list)  {
  synonyms(species_list) %>%
    dplyr::filter(Status == "accepted name" || Status == "synonym") %>%
    dplyr::pull(Species)
}

[2018-07-17 03:49] amroco commented on #98
Apologies, haven't used this in a while, but it's looking good to me! Thanks for your help!

[2018-07-17 03:49] #98 closed

[2018-07-17 06:20] amroco opened #145 "Validate_names loop over a fish list with errors in output table"
Hi, Apologies if this is the wrong place to ask this question (just let me know and I can go to Stack),
it's more of a general coding problem, rather than specific to the package.

I would like to apply the validate_names function to a column of species names in a dataframe, and return a dataframe with these columns:
1. 'Unconfirmed_name' (or the name from my dataset),
2. 'Valid_name' (the output

[2018-07-17 17:52] cboettig commented on #144
yup, good catch and that's indeed what `validate_names` should have done.  Thanks for the bug report.  should be fixed in 3.0 now; feel free to re-open the issue otherwise!

[2018-07-17 17:52] #144 closed

[2018-07-17 17:59] cboettig commented on #140
@tjquimpo Sorry for the slow reply here.

Note that `SL` and `TL` *are* already columns in the brains tables.  If your screen isn't big enough, not all the columns (variables) will be listed.  It might help to select just the columns you need, e.g.

[code]

If you want all only the brains data of a family, say, simply use the `species_list` function to get a list of those species:

[code]

I belie

[2018-07-17 18:14] cboettig commented on #145
Thanks for getting in touch, this is a fine place to ask questions.  Can you try installing the `3.0` branch from GitHub:

[code]

Then this should be pretty easy, e.g. imagine you have a data frame that includes species names, e.g. like so perhaps (just to illustrate the example):

[code]

[code]

Almost all `rfishbase` functions operate on a list (character vector) of species names, rather than

[2018-07-17 18:23] cboettig commented on #145
closing for now, please re-open if you have any issue with this.  bug reports and questions always welcome, it helps us better understand what our users are looking for!

[2018-07-17 18:23] #145 closed

[2018-07-17 18:24] cboettig commented on #140
(Closing this for now, please re-open if you have any further issues with this.  Also just a note, you can use the `list_fields()` function to help discover other tables that have the desired data.  e.g. the `morphometrics()` table is a good go-to for length and related size information).

[2018-07-17 18:24] #140 closed

[2018-07-18 05:20] amroco commented on #145
Awesome, that is exactly what I am after and a simpler process!
But I am unfortunately not getting the same table.

Let's say I have a dataset like so:

[code]

I want to get just the unique species out of this list, so I do the following:

`    fish_list = unique(test.data$species)`

The resulting output is a character vector, so I run this through the synonyms query:
`devtools::install_fishbase(

[2018-07-18 18:31] cboettig commented on #71
@eric-pedersen Thanks!  I'd also encourage you to try our new candidate development version for rfishbase 3.0:

run

[code]

and restart R.  The new version should be considerably faster (particularly for very large queries, and particularly after it 'warms up' on the first call)

[2018-08-14 08:42] Farewe opened #146 "Species exists on website but not in rfishbase"
Hello,

I was applying validate_names() over a very long list of species, and I stumbled upon a case where a species could not be validated with rfishbase, although it seems to exist on the fishbase website.

[code]

https://www.fishbase.de/summary/Trichomycterus-ocanaensis

Is this a bug or is this pattern linked to the fact that (from my understanding) rfishbase uses stored versions of fishbase,

[2018-08-14 16:18] cboettig commented on #146
Hi Boris,

Thanks for the bug report, and I see what you mean.  (Just to confirm, you're testing with the current GitHub version or CRAN version of rfishbase?  I did confirm this on our dev version.)

https://www.fishbase.de/Nomenclature/SynonymSummary.php?ID=172548&GSID=72784&Status=accepted%20name&Synonymy=senior%20synonym&Combination=original%20combination&GenusName=Trichomycterus&SpeciesName=o

[2018-08-16 08:38] Farewe commented on #146
Hi Carl,

yes, I am working with the current GitHub version of rfishbase.

Okay, good to know about the fishbase dumps.

I will go to the fishbase symposium early September so I will try to learn what is happening in the `shiyangensis` / `shilinensis` issue. I will keep you updated.

[2018-09-17 16:13] cboettig commented on #146
@Farewe Great, thanks for the update, that makes sense.  I think that means we can close this out?

[2018-09-17 16:17] Farewe commented on #146
Yes it can be closed!

Le lun. 17 sept. 2018 à 18:16, Carl Boettiger <notifications@github.com> a
écrit :

--
*Boris Leroy, *
*Maître de Conférences*
UMR Biologie des Organismes et des Ecosystèmes Aquatiques
Département Milieux et Peuplements Aquatiques
Muséum National d'Histoire Naturelle
43, rue Cuvier 75005 Paris FRANCE
www.borisleroy.com
Tel: +33 (0) 1 40 79 31 68
Mobile: +33 (0) 6 66 02 13 27

[2018-10-10 08:42] guido167 opened #148 "distribution range coordinates"
Is it still possible with rfishbase 3.0 to pull the coordinates of the range of a species? When I use:
`distribution("Carcharhinus limbatus", fields= c("NorthernLatitude",
                                                  "NorthernLatitudeNS",
                                                  "SouthernLatitude",
                                                  "SouthernLatitudeNS"))`

This only r

[2018-10-10 22:44] manchih commented on #148
Hi
That's exactly what I've been looking for since yesterday. As an alternative, I wanted to use the table "occurrence" to take the max and min of PointData but it does'nt work.
Still searching...

[2018-10-11 04:35] cboettig commented on #148
Thanks much for reporting this, should be fixed now.  can you install the github version again and test it out and let us know how it goes?

(also listing `fields` should actually do the filter for you this time; omit it to see the full table).

[2018-10-11 08:00] guido167 commented on #148
Works now! Thanks for fixing this on such a short notice!

[2018-10-11 17:20] cboettig commented on #148
yay, thanks for confirming. We really appreciate the 🐞 reports!

[2018-10-12 12:35] manchih commented on #148
Hi,
Thank you for your quick response,
The "NorthernLatitude" and "SouthernLatitude" seems to be the limits for the FAO region where the species occure.
I'm searching for the information displayed in the "Distribution range" in the web version of fishbase: Exemple: 45°N - 38°S, 180°W - 180°E; in the case of Carcharhinus limbatus.
Sincerely.

[2018-10-12 15:31] cboettig commented on #148
thanks for checking this.  Correct, `distribution()` is returning the fao area information.  It's really not clear to me where that information is coming from.   rfishbase queries the tables from the backend database directly, and so it's not always intuitive which table the fishbase web version uses for any particular value.

There isn't a "distribution" table, and there isn't an "occurrence" tab

[2018-11-08 03:07] jdstorch commented on #144
[code]
[code]
[code]
[code]
This is weird behavior by filter as it short-circuits, I think. The operator for `or` should be `|`.
[code]
compare with
[code]
Now we can properly handle the full vector.
[code]

[2018-11-08 03:32] jdstorch opened #149 "validate_names variably returns accepted names```"
synonym          Status SpecCode SynCode CoL_ID    TSN WoRMS_ID ZooBank_ID TaxonLevel                    Species
1        Barbus trimaculatus   accepted name     5417   31379   <NA> 688769       NA       <NA>    Species        Barbus trimaculatus
2        Barbus trimaculatus misapplied name    11374   20818   <NA>     NA       NA       <NA>    Species            Barbus jacksoni
3        Barbus tri

[2018-11-13 10:01] TIGibson opened #150 "Species Codes and the synonyms() function"
Hi,

I am experiencing an issue with the synonyms() function. Specifically it does not appear to accept Species Codes. This change appears to have happened in the last week. This may have been to do with rfishbase 3.0 going up on CRAN (I think I was using the previous version when I got it working)? I am trying to download large numbers of synonyms for species of interest for a bioinformatics proj

[2018-11-13 23:31] TIGibson commented on #150
Hi Carl,

Thanks for the work around, will give it a go tomorrow.

Also thanks for the work on this package more widely! It’s a life saver.

Kind Regards,

Tom
________________________________
From: Carl Boettiger <notifications@github.com>
Sent: 13 November 2018 22:27:35
To: ropensci/rfishbase
Cc: Thomas Gibson; Author
Subject: Re: [ropensci/rfishbase] Species Codes and the synonyms() function (#

[2018-11-27 10:55] MDumestre opened #151 "Missing species SpecCode"
Hello,

Thank you first for the new rfishbase package!
I wonder why a species like "Eviota lateritea" or "Parascombrops madagascariensis" has no specific SpecCode, while it has a FishBase page?

Btw, would it be possible to have access to the species SynCode, this code only appears in the Synonyms function?

Thank you for your help,
Marielle

[2018-11-27 17:43] cboettig commented on #151
@MDumestre Looks like these are two very recently described species that are not yet in the FishBase database dump we use on the backend, (hence no SpecCode or anything else).

Note that you can always easily join tables to get the columns you want.  e.g. try:

[code]

(note in 3.0 you can omit any argument to the functions to get all available records).

[2019-01-08 15:22] kleisner opened #152 "rfishbase timeout"
Hi, I'm trying to query rfishbase and any command I use (validate_names, mat, etc.) gives me the following error:

Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached: Connection timed out after 10016 milliseconds

Is there an issue with the fishbase servers at this time?

[2019-01-08 16:59] sckott commented on #139
down again, we should be up on the new server today

[2019-01-08 16:59] sckott commented on #152
it's down again. we should be on the new server today hopefully

[2019-01-08 17:02] cboettig commented on #152
@kleisner Can you also let us know which version of `rfishbase` you are using?  If you `update.packages("rfishbase")`, you should find the newer version is much faster and will bypass the API to use a local cache.

[2019-01-08 17:04] cboettig commented on #139
Just posting a follow-up on this issue for anyone coming to this thread: please consider upgrading to `rfishbase` v3.0 (just run `update.packages("rfishbase")` to install from CRAN), which now bi-passes the API.  This avoids downtime, improves performance considerably and removes the need to paginate over calls with > 5,000 results.  (Or use any function with no arguments to return all available r

[2019-01-08 17:20] kleisner commented on #152
Great thanks for the info!
@cboettig I'm using 2.1.2. I just ran the update.packages, but looks like it's the latest version?

[2019-01-08 17:38] cboettig commented on #152
that's strange.  should be 3.0.0.  (e.g. https://cran.r-project.org/web/packages/rfishbase/index.html).  Did you restart R after installing the package?

If restarting does not fix it, can you try:

[code]

and see if that works?

[2019-01-08 18:11] kleisner commented on #152
Hi--yes, I had restarted to see if that updated the package version, but it was still 2.1.2. I ended up removing the package and just reinstalling and that worked! The rfishbase functions are also now working. Thank you!

[2019-01-08 18:12] cboettig commented on #152
🎉

[2019-01-08 18:12] #152 closed

[2019-01-22 20:26] juanmayorgahenao opened #153 "Error in guess_header_ when using readr + packrat"
I'm trying to use the package in a Packrat project and I'm running into this error when I run the example:

[code]

Error in guess_header_(datasource, tokenizer, locale) :
  Cannot read file /private/var/folders/9h/wqbg24kx5tv7qz_k383qcp100000gn/T/RtmppWU7my/file112f65096036: Invalid argument

Running this outside of the project works fine. Any thoughts what might be happening?

[2019-01-22 20:33] juanmayorgahenao commented on #153
I am. I just installed using

[code]

as well as

[code]

[2019-01-22 21:45] cboettig commented on #153
@juanmayorgahenao Just double-check the version in `packrat/packrat.lock` file for your packrat repository?

To help us debug, it would be useful if you could set `options(error=recover)` and paste the full callback trace reported on the error.  May also be useful to include the output of `sessionInfo()` for us.  Thanks!

[2019-01-22 21:49] juanmayorgahenao commented on #153
@cboettig Here is the full callback trace reported on the error;

`Error in guess_header_(datasource, tokenizer, locale) :
  Cannot read file /private/var/folders/9h/wqbg24kx5tv7qz_k383qcp100000gn/T/Rtmp67rUAv/file13dc4c6a7f81: Invalid argument

Enter a frame number, or 0 to exit

 1: validate_names(c("Oreochromis niloticus", "Salmo trutta"))
 2: synonyms(species_list, server = server) %>% dplyr::

[2019-01-22 21:49] juanmayorgahenao commented on #153
The package version in `packrat/packrat.lock` is 3.0.0

[2019-01-22 21:50] juanmayorgahenao commented on #153
Thanks for your help!

[2019-01-22 22:04] cboettig commented on #153
@jimhester Any idea why `readr` would throw the error:

[code]

when a user is using packrat but not otherwise?  I can confirm this behavior:

1. Create a new project in RStudio, check box "with packrat"
2. `install.packages("rfishbase")`
3. `library(rfishbase)`
4.  `species()`

Do the same without packrat, no errors.  Seems to be an issue in how readr uses temporary files when guessing headers?

[2019-02-06 21:17] andybeet opened #154 "missing trophic level data?"
I have recently been using rfishbase to extract the trophic level (field = DietTroph) for a set of species.

For some of the species i find that the DietTroph field has NA as its value.

However, if i search the online fishbase database, i find a value.

For example:

rfishbase::ecology("Anchoa mitchilli",fields="DietTroph",server="fishbase")

returns an NA where as on line (https://www.fishbase.d

[2019-02-06 22:32] cboettig commented on #154
Yeah, FishBase is not particularly organized or transparent about where different data comes from in the different tables.  Short answer is you probably wanted FoodTroph:

    library(tidyverse)
    library(rfishbase)
    ecology("Anchoa mitchilli") %>% select(FoodTroph)

It can be helpful to go directly to the ecology page to get a better comparison to the `ecology()` table you are using there, e

[2019-02-08 19:20] andybeet commented on #154
Thanks Carl,
I have a further question. Take for example The species "Naucrates ductor" (Pilotfish)

rfishbase::diet("Naucrates ductor")["Troph"] gives NA
rfishbase::ecology("Naucrates ductor",fields ="FoodTroph",server="fishbase") gives 3.98
rfishbase::ecology("Naucrates ductor",fields ="DietTroph",server="fishbase") gives NA
but online (https://www.fishbase.de/summary/Naucrates-ductor.html) give

[2019-02-14 17:39] andybeet commented on #154
A further question regarding an invertibrate species in sealifebase also relating to trophic level
The species "Strongylocentrotus droebachiensis" (Northern sea urchin) has an "estimated" trophic level of 2.4.
See (https://www.sealifebase.org/Ecology/FishEcologySummary.php?StockCode=4199&GenusName=Strongylocentrotus&SpeciesName=droebachiensis)

i can not seem to obtain this value using rfishbase

[2019-02-18 22:39] sborstein opened #155 "Diet Function Does Not Return Diet Items or Diet Quantities"
I have recently used rfishbase 3.0 for the first time (have used previous versions extensively). I have noticed in the new version that the diet function does not return the prey items consumed nor their dietary contribution as it did in previous versions (ran using `DietDat<-diet("Pomacanthus paru")`). It appears the dimensions of the returned object are substantially smaller in the current versi

[2019-03-01 18:22] karinorman opened #156 "Full common names table"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
Documentation indicates  that common_names() should return all common names if no species_list argument is given, however the function errors with the argument is left empty.

[2019-03-02 00:44] #156 closed

[2019-03-02 02:35] cboettig commented on #155
Apologies for the slow reply, this got buried in my inbox.

I think you may be looking for the `fooditems()`  function?  Recall that you can always use the `list_fields` function to help discover which table has the columns of interest:

[code]

HTH!  Please re-open this issue if this doesn't resolve things.

[2019-03-02 02:35] #155 closed

[2019-03-02 04:21] cboettig commented on #154
Hi Andy,

Sorry I don't have good answers for the missing data -- rfishbase is using the October 2018 dumps from SLB and FB that we have and exposing those tables.  As you've seen, sometimes it's just a matter of figuring out which table the website is using for a particular number, some are more obvious than others.  Meanwhile closing this out since this doesn't appear to be an actionable bug fro

[2019-03-02 04:21] #154 closed

[2019-03-02 04:22] #151 closed

[2019-03-02 04:23] cboettig commented on #150
Closing this out as I think we have resolved it now?  Given the nature of the synonyms table, it's not obvious that it should take a list of only accepted species names or species codes, probably easier to work with using the whole table as outlined above.

[2019-03-02 04:23] #150 closed

[2019-03-03 13:15] TIGibson commented on #150
Hi Carl,

Yes thanks for this.

Kind Regards,

Tom

From: Carl Boettiger <notifications@github.com>
Sent: 02 March 2019 04:24
To: ropensci/rfishbase <rfishbase@noreply.github.com>
Cc: Thomas Gibson <bspa55@bangor.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [ropensci/rfishbase] Species Codes and the synonyms() function (#150)

Closing this out as I think we have resolved it now? Given t

[2019-03-12 20:40] andybeet commented on #154
Hi Carl,

So i checked with the folks at fishbase (sealifebase) and the value of trophic level (2.4) for the species i mentioned above (Strongylocentrotus droebachiensis) has been in the data base since 2011. And it resides in one of the tables that rfishbase extracts data from.

With all due respect, a user of rfishbase is expecting that he/she will be able to pull the data he/she sees online. If

[2019-03-12 21:43] cboettig commented on #154
Hi Andy,

Sorry about this, looks the sealifebase functions were not always getting the `server` argument to use the right SpecCode column, and hence not finding the names.  Try:

[code]

I think that should have what you are looking for.

Didn't mean to be dismissive of the issue earlier, but you know this line of work I'm paid to write papers; supporting software is just time away from that.  An

[2019-03-21 18:11] andybeet commented on #154
All fields have NA's. The same for the estimate table
None of the fields have the value of 2.4 which is meant to reside in one of these tables.

I hear you regarding doing research and not supporting software. Doesn't help me though ;)

[2019-03-21 18:15] cboettig commented on #154
Hi Andy,

Are you sure you re-installed the package and restarted your R instance?  I see 2.4 right there now:

![Screen Shot 2019-03-21 at 11 14 44 AM](https://user-images.githubusercontent.com/222586/54775183-a548cf00-4bca-11e9-8008-72c1cb4c5b8a.png)

[2019-03-21 18:24] andybeet commented on #154
i didn't reinstall!!
Now i have, and you are right. Thanks a million. Get back to writing papers ;)

[2019-04-03 23:00] fishfish1 opened #159 "what do 0 or -1 represent in 'ecology' data?"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-04-03 23:00] fishfish1 opened #160 "what do 0 or -1 represent in"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-04-03 23:02] #160 closed

[2019-04-04 15:54] cboettig commented on #159
Booleans (`TRUE`/`FALSE`).  just do `as.logical()` on the column if you'd like to convert them.

[2019-04-04 15:54] #159 closed

[2019-04-15 09:07] jflowernet opened #161 "Differences between rfishbase query and Fishbase website"
Hi,
I'm accessing maximum length information for some species and noticed one of the values did not seem right. Running this `species("Chaetodon capistratus", fields = c("Species", "Length"))` gives a (maximum) length of 7.5, but looking at the Fishbase website I can see it is 15 (https://www.fishbase.de/summary/Chaetodon-capistratus.html).

Also, querying `species("Lactophrys triqueter")` returns

[2019-05-23 14:40] munrohannah opened #163 "Update of release database"
Are there plans to update the current database release from 17.07 to a more recent one? I am find that a lot of information has been updated in the last (almost) two years, especially on sealife base.

Alternatively, am I missing how to update which release that I use?

Here is an example with a species where there is data online not available through rfishbase.

<details> <summary><strong>Session

[2019-05-23 20:42] sckott commented on #163
what does the 17.07 refer to? is that a date?

[2019-05-23 21:02] cboettig commented on #163
@sckott yeah, that means July 2017; though the most recent data snapshots are actually [18.10](https://github.com/ropensci/rfishbase/releases/tag/fb-18.10), so less than a year old.

Guess we should at least be aiming for 19.10 release if not before...

[2019-05-24 17:46] munrohannah commented on #163
I know that updating the database release involves work, but I wanted to ensure it was noted that it would be valued! The most recent sealifebase release is even from 2019 I believe.

[2019-05-29 17:51] sckott commented on #163
just updated 5 min ago

[2019-06-03 16:21] munrohannah commented on #163
@sckott does this mean I should be able to access the latest sealife release now?

Using the example from above I still cannot see the updated fields. I have updated rfishbase to the latest release on github, 3.0.3. I have restarted R with a new session. I have updated the code slightly.

[code]

Did I misunderstand your latest comment, or am I missing something?

[2019-06-03 16:23] sckott commented on #163
The API was updated. I think rfishbase uses the static data by default ? Seems like the lastest data isn't up to date with the API https://github.com/ropensci/rfishbase/releases @cboettig

[2019-06-03 16:28] cboettig commented on #163
Yup, like @sckott says I'll need to sync the static cache first for that to work from R, sorry :/.  Can probably get around to that this evening. thanks both!

[2019-06-07 13:30] munrohannah commented on #163
@cboettig, has the static cache been update?

[2019-06-11 21:19] cboettig commented on #163
@munrohannah Did you update the env var to point to a newer version?  See README: https://github.com/ropensci/rfishbase#version-stability

Arguably we should have this detect the latest version by default, but it doesn't currently do that, so if you didn't request 18.10 version you'll still get 17.07.  I've just posted the 19.04 release as well, so you should be able to use that.

I'll open a sepa

[2019-06-11 21:20] cboettig opened #164 "rfishbase should use latest cache by default"
Cache version is currently hardwired at 17.07.  Need a better way to display all available releases and to always draw from latest cache by default.  @cboettig

[2019-06-12 11:52] munrohannah commented on #163
@cboettig this is all helps, and in theory should work, but I am still not getting the updated data.

I think that the problem that I am having is specific to the slb.2ecology.tsv file in last two releases. When I looked at the data from any other file (eg. slb2fdiseases or slb2fdiet_items) there is a .tsv file in the .bz2 folder, but for the 18.10 and 19.04 releases it is a SLB5FC~1.BZ2 file.

[2019-06-12 17:51] cboettig commented on #163
@munrohannah hmm, weird, I cannot reproduce what you are seeing.  Can you try first restarting R, then in a fresh session do:

[code]

This gives me an `eco` tibble of dimension ` 121,461 x 142`.  This is slightly bigger than the 18.10 table, which is ` 119,140 x 141`.  Note that you'll need  to restart R to clear the caching between changing versions, otherwise the functions will return previous

[2019-06-12 17:52] cboettig commented on #163
(also note that you can test directly from the cache to see if that works, e.g.

[code]

[2019-06-13 13:48] munrohannah commented on #163
Thank you, this is working for me now. I appreciate your patience.

[2019-06-13 13:48] #163 closed

[2019-06-24 22:14] #131 closed

[2019-06-24 22:16] cboettig commented on #118
resolved in 3.0, which avoids limits and pagination.

[2019-06-24 22:16] #118 closed

[2019-06-24 22:17] #126 closed

[2019-06-24 22:18] cboettig commented on #115
[code]

is available in the current version.

[2019-06-24 22:18] #115 closed

[2019-06-24 22:21] cboettig commented on #106
the latest version returns full tables when given no arguments, e.g.

[code]

users can than subset / fuzzy match as they would any table in R.

[2019-06-24 22:21] #106 closed

[2019-06-24 22:24] cboettig commented on #161
Thanks, this should be fixed by PR #165 once it is merged, which will make sure `rfishbase` accesses the latest cache by default.  Note that the version can still be set to a fixed timestamp if needed for reproducibility, but will no longer be the default.

[2019-06-24 22:24] #161 closed

[2019-06-24 22:24] #148 closed

[2019-06-24 22:24] #105 closed

[2019-06-24 22:25] #130 closed

[2019-06-24 23:18] #164 closed

[2019-07-02 20:47] adelheenan opened #167 "Query on ecology function not returning trophic level data?"
<details> <summary><strong>Session Info</strong></summary>

[code]
Hi there,

First off, thanks for making such a useful package - it is a great resource!
I have a question on the ecology function.

When I use:
ecology("Sphyraena qenie", fields=c("DietTroph", "DietSeTroph", "DietRemark", "FoodTroph", "FoodSeTroph", "FoodRemark"))

It returns NAs - however I see on:
https://www.fishbase.se/Ecology/

[2019-07-02 21:33] cboettig commented on #167
@adelheenan Sorry for the difficulties, but I think your issue is not that rfishbase is returning different data, but rather that it's not always obvious for users (or me!!) to figure out which column in the database corresponds to which box on the website.  For instance, please try:

[code]

I think you should see:

[code]

Which I think matches the table values shown under  the "Unfished Populat

[2019-07-02 21:34] cboettig commented on #167
p.s. as suggested by Skit's comments, you can also try the estimates table:

[code]
which gives me:
[code]

[2019-07-03 07:48] adelheenan commented on #167
@cboettig Thanks for the speedy response.

I see, it helps to know that the troph estimates are located in a variety of different tables. I'll have a go with the code you suggest for the species I had with missing data and then do a sense check.

Thanks again for your time creating such neat package!

[2019-07-08 16:17] cboettig commented on #167
Great! closing as resolved but ping if you hit issues

[2019-07-08 16:17] #167 closed

[2019-07-17 22:40] BenMFord opened #169 "Access "Species Ecology Matrix" through rfishbase"
Hello,

Is there a way to access the FishBase "Species Ecology Matrix"  through rfishbase?

i.e. for Scarids - https://www.fishbase.se/report/KeyFactsMatrixList.php?famcode=364

Thanks

[2019-07-18 00:23] sckott commented on #169
looks like the `/matrix` API route has that data e.g. https://fishbase.ropensci.org/matrix/?SpecCode=5537 - but we don't have a fxn for that in this pkg @cboettig - should we add a fxn for matrix?

[2019-07-18 14:26] cboettig commented on #169
@sckott good call.  Meanwhile, users can generate the endpoint automatically with the internal `endpoint` function factory:

e.g.

[code]

[2019-07-18 16:15] sckott commented on #169
nice one, had forgotten about that

[2019-07-18 22:16] BenMFord commented on #169
Thank you very much!

[2019-09-04 07:10] fguilhaumon opened #171 "acces the "picturesmain" table ?"
Hello,

I'm using the _rfishbase_ package a lot to validate names and gather other relevant information.

I'm wondering if endpoints are (or would) be available for the "picturesmain" fb table (inst/extdata/picturesmain.csv) ?

Some information about pictures filenames are available in the "species" table, however this does not allow to retrieve copyright (and other important information related t

[2019-09-04 12:15] fguilhaumon commented on #171
Ok,

here is the solution:

pictures_main <- rfishbase:::endpoint("picturesmain")

Sorry, found the solution in another issue ...

[2019-09-04 12:15] #171 closed

[2019-09-20 02:18] corinthiablack opened #172 "species function does not call estimates based on models"
When using the species function, I was unable to call "Preferred Temperature" and "Trophic Level" in the table.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-09-23 18:17] cboettig commented on #172
Apologies, but rfishbase merely accesses the back-end database tables, whose organization is not always intuitive.  For temperature and related data, please consider using the `ecosystem()` function.  Trophic information is available in the `ecology()` function, and several others, as noted if you do a search of the issues here.

[2019-09-23 18:17] #172 closed

[2019-11-12 15:39] munrohannah opened #173 "Error in morphometrics with sealifebase"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

When looking up morphometrics on sealifebase I get an error related to in compatible types when joining tables. This does not appear to be an issue with fishbase only sealifebase.

Example:
[code]

[2019-11-12 16:25] #173 closed

[2019-11-17 20:12] alooby101 opened #174 "Access climate zone info for each species"
I am hoping to access the climate zone info in rfishbase, but I can't seem to find it in any of the functions. On the species summary page on FishBase, there is a single climate zone listed. For example, Porichthys notatus is listed as "subtropical" (https://www.fishbase.se/summary/Porichthys-notatus) along with a range. I haven't been able to find this data in rfishbase. It seems like something s

[2019-11-21 18:17] cboettig commented on #174
It sounds like you're looking for the `ecosystem()` function

[code]

[code]

(note the -1 is how FishBase encodes TRUEs).  As you can see this species appears to be found in several ecosystems, including some that are designated as subtropical and some that are not

[2019-11-21 18:25] alooby101 commented on #174
Okay this is what I had found already. I can try to make it work for me. I guess maybe the FishBase website does something like choose the warmest climate zone for its designation so it only has to list one?

[2019-11-21 18:25] #174 closed

[2019-12-11 10:41] JulietteLgls opened #175 ""Type" column of common_names table"
Hello,
I just loaded the last version of rfishbase and I wonder if there is any way to get the column "Type" from the common name table available on the website throught the function common_names?
Actually what I'd like to get is the common name of wo-hich type if FAO or AFS.

Thanks in advance.
Juliette

[2019-12-23 09:17] cboettig commented on #175
Apologies for the slow reply.

Try

[code]

and look at the `NameType` column.  Apologies this data isn't exposed directly; we'll try and address it in the next release!

[2020-01-17 20:50] andybeet opened #176 "Joining, by = "C_Code""
Not sure this is really an issue but when accessing the `country` table i get this message.
Joining, by = "C_Code"
While it is not problematic, i'd like to know what it means and how i can prevent it from displaying since it does not seem to be a warning

A reproducible example would be the example in the `country` documentation
`country(species_list(Genus='Labroides'))`

thanks

<details> <summar

[2020-01-17 21:16] andybeet opened #177 "multiple entries of FoodTroph for a species"
I am obtaining multiple values for FoodTroph in the `ecology` table

```rfishbase::ecology(species_list="Oncorhynchus clarkii", server = "fishbase") %>% dplyr::select(Species,DietTroph,FoodTroph)```

results in:

  Species              DietTroph FoodTroph
  <chr>                    <dbl>     <dbl>
1 Oncorhynchus clarkii        NA      3.77
2 Oncorhynchus clarkii        NA      4.01

Is this a bug

[2020-01-21 17:49] sckott commented on #176
that's a dplyr message most likely - see a bunch of joins here https://github.com/ropensci/rfishbase/blob/master/R/load_taxa.R#L61-L66 e.g.

I don't know of a way to supress dplyr messages

[2020-01-21 18:06] sckott commented on #177
I don't know is the short answer.

The species page https://www.fishbase.de/summary/2688 has the stockcode 2884, and the value 3.77 . Not sure why the other entry is there.

@cboettig ?

[2020-02-03 14:42] JulietteLgls commented on #175
Sorry, forgot to reply, thank you, I close the issue

[2020-02-03 14:42] #175 closed

[2020-02-11 10:29] Grelot opened #178 "add rfishbase as a conda environment with Anaconda cloud"
Hi, Thanks a lot for your awesome package,

I want to start a new project using R/jupyter notebook and i need to install my R packages with conda.

I checked for `rfishbase` availability but it seems to not be present (perhaps i'm wrong)

https://anaconda.org/search?q=rfishbase

Is `rfishbase` available as a R package you can install using conda ?

[2020-02-11 16:21] sckott commented on #178
I'm not familiar with how R pkgs get into conda. Are you?

[2020-02-11 17:12] cboettig commented on #178
cc @choldgraf might have suggestions (either on R/jupyter notebook sans conda or getting packages listed with conda?)

[2020-02-11 18:06] Grelot commented on #178
The best will be to find it on anaconda/miniconda cloud

Here the link:
https://anaconda.org/peguerin/dashboard

Apparently the process seems to be pretty straightforward

[2020-02-19 18:30] choldgraf commented on #178
Hey all - sorry for the slow response, I've been out of the country for the last two weeks. For conda, your best bet is to use `conda-forge`, which is a community-driven channel of the `conda` tool (https://conda-forge.org/). I'm not familiar with how to publish on it, but I've found the developer community in conda-forge to be pretty responsive so perhaps they can help out

[2020-02-25 01:21] jatalah opened #179 "installation error"
I get the follwing error message when installing rfishbase using remotes::install_github("ropensci/rfishbase")

Error: Failed to install 'rfishbase' from GitHub:
  (converted from warning) cannot remove prior installation of package ‘tidyselect’

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18362)

Matrix products: default

Random numb

[2020-02-25 01:48] cboettig commented on #179
Have you tried first restarting your R session with a clean environment (not loading any packages automatically, e.g. via .Rprofile or previous settings?)

[2020-02-25 02:42] jatalah commented on #179
Thanks, it is working now.
I believe it was also an issues with the libraries tidyselect and vctrs not loading properly.

[2020-02-25 02:42] #179 closed

[2020-02-25 03:44] jatalah opened #180 "Access to species temperature tolerance range data"
Hi,

Is there a way to access the species temperature range using rfishbase?

This info appears on the Environment section on the main page for each species in FishBase.

For example:
Environment: milieu / climate zone / depth range / distribution rangeEcology
Freshwater; brackish; benthopelagic; potamodromous (Ref. 51243); depth range 0 - 20 m (Ref. 32849), usually ? - 20 m (Ref. 34290).   Tropic